/******************************************************************************
  Max Width "991px" - Min Width "768px"
*******************************************************************************/
@media (min-width: 768px) and (max-width: 991px) {
  .owl-carousel .col-sm-1 {
    max-width: 62px;
  }
  .owl-carousel .col-sm-2 {
    max-width: 125px;
  }
  .owl-carousel .col-sm-3 {
    max-width: 187px;
  }
  .owl-carousel .col-sm-4 {
    max-width: 250px;
  }
  .owl-carousel .col-sm-5 {
    max-width: 31px;
  }
  .owl-carousel .col-sm-6 {
    max-width: 375px;
  }
  .owl-carousel .col-sm-7 {
    max-width: 437px;
  }
  .owl-carousel .col-sm-8 {
    max-width: 500px;
  }
  .owl-carousel .col-sm-9 {
    max-width: 562px;
  }
  .owl-carousel .col-sm-10 {
    max-width: 625px;
  }
  .owl-carousel .col-sm-11 {
    max-width: 687px;
  }
  .owl-carousel .col-sm-12 {
    max-width: 750px;
  }
  #works-nav .sticky-wrapper{
    /*  margin-top: 40px;*/
  }
 .top-sm-margin-port{
	margin-top: 110px;
}
}
/**************************************
    max-width 1098  min-width 845   
************************************
@media (max-width: 1098px) and (min-width: 845px) {
.page-section{
  padding: 130px 15px 0 15px;  
  }
}*/
@media only screen and (max-width: 991px){
.page-section{
  padding: 130px 15px 0 15px;  
  }
}
@media only screen and (max-width: 767px){
.page-section{
  padding: 70px 15px 0 15px;  
  }
}
/******************************************************************************
  Max Width "767px"
*******************************************************************************/
@media (max-width: 767px) { 

  }
  /* Padding */
.xs-pad-10{
	padding:10px;
}
.xs-pad-20{
	padding:20px;
}
.xs-pad-30{
	padding:30px;
}
.xs-pad-40{
	padding:40px;
}
.xs-pad-50{
	padding:50px;
}
.xs-pad-60{
	padding:60px;
}
.xs-pad-70{
	padding:70px;
}
.xs-pad-80{
	padding:80px;
}
.top-xs-pad-10{
	padding-top:10px;
}
.top-xs-pad-20{
	padding-top:20px;
}
.top-xs-pad-30{
	padding-top:30px;
}
.top-xs-pad-40{
	padding-top:40px;
}
.top-xs-pad-50{
	padding-top:50px;
}
.top-xs-pad-60{
	padding-top:60px;
}
.top-xs-pad-70{
	padding-top:70px;
}
.top-xs-pad-80{
	padding-top:80px;
}
.bottom-xs-pad-10{
	padding-bottom:10px;
}
.bottom-xs-pad-20{
	padding-bottom:20px;
}
.bottom-xs-pad-30{
	padding-bottom:30px;
}
.bottom-xs-pad-40{
	padding-bottom:40px;
}
.bottom-xs-pad-50{
	padding-bottom:50px;
}
.bottom-xs-pad-60{
	padding-bottom:60px;
}
.bottom-xs-pad-70{
	padding-bottom:70px;
}
.bottom-xs-pad-80{
	padding-bottom:80px;
}
/* Margin */
.xs-margin-10{
	margin:10px;
}
.xs-margin-20{
	margin:20px;
}
.xs-margin-30{
	margin:30px;
}
.xs-margin-40{
	margin:40px;
}
.xs-margin-50{
	margin:50px;
}
.xs-margin-60{
	margin:60px;
}
.xs-margin-70{
	margin:70px;
}
.xs-margin-80{
	margin:80px;
}
.top-xs-margin-10{
	margin-top:10px;
}
.top-xs-margin-20{
	margin-top:20px;
}
.top-xs-margin-30{
	margin-top:30px;
}
.top-xs-margin-40{
	margin-top:40px;
}
.top-xs-margin-50{
	margin-top:50px;
}
.top-xs-margin-60{
	margin-top:60px;
}
.top-xs-margin-70{
	margin-top:70px;
}
.top-xs-margin-80{
	margin-top:80px;
}
.top-xs-margin-portfolio{
	margin-top:110px;
}
.bottom-xs-margin-10{
	margin-bottom:10px;
}
.bottom-xs-margin-20{
	margin-bottom:20px;
}
.bottom-xs-margin-30{
	margin-bottom:30px;
}
.bottom-xs-margin-40{
	margin-bottom:40px;
}
.bottom-xs-margin-50{
	margin-bottom:50px;
}
.bottom-xs-margin-60{
	margin-bottom:60px;
}
.bottom-xs-margin-70{
	margin-bottom:70px;
}
.bottom-xs-margin-80{
	margin-bottom:80px;
}
.single-product{
	margin-bottom:40px;
}
}  
/******************************************************************************
  Min Width "992px"
*******************************************************************************/
@media (min-width: 992px) {
 
	.nav .open > a, .nav .open > a:focus, .nav .open > a:hover{
		border-color:rgba(204,204,204,0.4);
	}	
	.dark-header .side-navbar .top-contact.link-hover-black > a,
	.dark-header .side-navbar .top-social-icon > a{	
		color:#fff;
	}
}
/******************************************************************************
  Min Width "768px"
*******************************************************************************/
@media(min-width:768px) {
   
}
/******************************************************************************
  Min Width "1200x"
*******************************************************************************/

/* ---------- MAX 1199px ---------- */
 @media (min-width: 991px) and (max-width: 1199px){	
	.double-img img{
		max-width:60%;
	}
}
/* ---------- MAX 480px ---------- */
 @media(max-width: 480px){	
	.double-img img{
		max-width:50%;
	}
}
/******************************************************************************
  Max Width "991px"
*******************************************************************************/
@media (max-width: 991px) { 
	/*Animation*/
	.animated {
		visibility: visible !important;
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		animation: none !important;
	}
	.fixed{
		background-attachment:initial !important;
	}
	.image-bg {
		-webkit-background-size:initial !important;
	}
	.grid-col-4 .grid-item,
	.grid-col-4 .grid-sizer {
		width:33.3%;
	}
	.grid-col-5 .grid-item,
	.grid-col-5 .grid-sizer {
		width:33.3%;
	}
}
/******************************************************************************
  Max Width "767px"
*******************************************************************************/
@media (max-width: 767px) { 
	.image-bg.content-in {
		background-repeat: no-repeat;
	}	
	.navbar-collapse .navbar-nav{
		padding-bottom:10px;
	}
	.grid-col-2 .grid-item ,
	.grid-col-2 .grid-sizer{
		width:50%;
	}
	.grid-col-3 .grid-item,
	.grid-col-3 .grid-sizer {
		width:50%;
	}
	.grid-col-4 .grid-item,
	.grid-col-4 .grid-sizer {
		width:50%;
	}
	.grid-col-5 .grid-item,
	.grid-col-5 .grid-sizer {
		width:50%;
	}
    #main-slider .carousel{
        padding-top: 110px;
    }	
	#main-slider h1 {
		font-size: 25px;
		line-height: 32px;
	}
    #main-slider h2 {
		font-size: 20px;
		line-height: 27px;
	}	
    #main-slider description {
		font-size: 18px;
		line-height: 25px;
	}		
}

/******************************************************************************
  Max Width "480px"
*******************************************************************************/
@media (max-width: 480px) { 
    #main-slider .carousel {
        padding-top: 110px;
    }

	.grid-col-2 .grid-item ,
	.grid-col-2 .grid-sizer{
		width:100%;
	}
	.grid-col-3 .grid-item,
	.grid-col-3 .grid-sizer {
		width:100%;
	}
	.grid-col-4 .grid-item,
	.grid-col-4 .grid-sizer {
		width:100%;
	}
	.grid-col-5 .grid-item,
	.grid-col-5 .grid-sizer {
		width:100%;
	}

	.top-up .nav-tabs > li{
		display:block;
		width:100%;
	}
}
/***** media only screen and (max-width: 1120px)*/

@media (min-width: 768px) and (max-width: 991px){
    .pad mixed-grid{
        margin-top: 50px;
    }
}
/*****animate**************

.design-item-lt {  
    position: relative;
    animation: design-item-lt 2s ease 1s;
    animation-fill-mode: backwards;
}
@-webkit-keyframes design-item-lt {
    0%  {opacity:0; left:33%; top:0px;}
    100% {opacity:1; right:66%; top:0px;}

}
@keyframes design-item-lt {
    0%  {opacity:0; left:33%; top:0px;}
    100% {opacity:1; right:66%; top:0px;}

}
.design-item-rt {  
    position: relative;
    animation: design-item-rt 2s ease 1s;
    animation-fill-mode: forwards;
}
@-webkit-keyframes design-item-rt {
    0%  {opacity:0; left:33%; top:0px;}
    100% {opacity:1; right:66%; top:0px;}

}
@keyframes design-item-rt {
    0%  {opacity:0; left:33%; top:0px;}
    100% {opacity:1; right:66%; top:0px;}

}
 /******Max Width "767px"****************/
@media (max-width: 767px) {
    .design-item-it,.design-item-rt  {
     animation: none;   
    }
}