@{
    ViewBag.Title = "AJ MILLWORK";
}


<section class="slider" style="background:rgb(0,0,0);">
    <div id="main-slider" class="top-margin-40">
        <div class="carousel slider carousel-fade" data-ride="carousel" data-interval="4000" data-transition="fadeToggle" data-pause="false">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/img/slider/slide-20.jpg" alt="AJ Millwork kitchen" class="animation animated-item-3" />
                    <div class="carousel-caption">
                        <h1 class="upper animation animated-item-1">
                            <span class="text-color">AJ Millwork</span>
                        </h1>
                        <h2 class="description animation title animated-item-2">Distinctive Design</h2>
                    </div>
                 </div>
                <div class="item">
                    <img src="~/img/slider/slide-03.jpg" alt="AJ Millwork contemprary Kitchen counter" class="animation animated-item-32" />
                    <div class="carousel-caption">
                        <h1 class="upper animation animated-item-1">
                            <span class="text-color"> AJ MILLWORK</span>
                        </h1>
                        <h2 class="description animation animated-item-2">Exceptional Quality</h2>
                    </div>
                 </div>
                <div class="item">
                    <img src="~/img/slider/slide-04.jpg" alt="Curved entertainment bar in basement" class="animation animated-item-3" />
                    <div class="carousel-caption">
                        <h1 class="upper animation animated-item-1">
                            <span class="text-color">AJ Millwork</span>
                        </h1>
                        <h2 class="description animation animated-item-2">Remarkable Results</h2>
                    </div>
                 </div>
                <div class="item">
                    <img src="~/img/slider/slide-02.jpg" alt="Staircase" class="animation animated-item-3" />
                    <div class="carousel-caption">
                        <h1 class="upper animation animated-item-1">
                            <span class="text-color"> AJ Millwork</span>
                        </h1>
                        <h2 class="description animation animated-item-2">Designed and Crafted to <br />your Preferences and Style</h2>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</section>

