@{
    ViewBag.Title = "AJ MILLWORK";
}


<section class="slider" style="background:rgb(0,0,0);">

    <div class="tp-banner" style="padding-bottom: 100px">
        <ul>
            <li data-delay="3000" data-transition="fade" data-slotamount="7" data-masterspeed="1000">
                <img src="~/img/slider/slide-20.jpg" alt="AJ Millwork kitchen" data-bgfit="contain" data-bgposition="center top" data-bgrepeat="no-repeat" />
                <div class="elements white">
                    <h2 class="tp-caption tp-resizeme customin customout lft skewtotop title very_large_text rs-parallaxlevel-4" data-x="center" data-y="220" data-speed="800" data-start="800" data-customin="x:0;y:30;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn">
                        AJ MILLWORK
                    </h2>
                    <div class="tp-caption tp-resizeme lfb customin customout rs-parallaxlevel-4" data-x="320" data-y="190" data-speed="800" data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-start="1600" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" style="width: 100%">
                        <img src="~/img/ajLogo-sm.png" width="99" height="111" alt="AJ Millwork logo" />
                    </div>
                </div>
            </li>
            <li data-delay="3000" data-transition="fade" data-slotamount="7" data-masterspeed="5000">
                <img src="~/img/slider/slide-21.jpg" alt="AJ Millwork contemprary Kitchen counter" data-bgfit="contain" data-bgposition="center top" data-bgrepeat="no-repeat" />
            </li>
            <li data-delay="3000" data-transition="fade" data-slotamount="7" data-masterspeed="5000">
                <img src="~/img/slider/slide-22.jpg" alt="AJ Millwork Paneled Home Office" data-bgfit="contain" data-bgposition="center top" data-bgrepeat="no-repeat" />
            </li>
        </ul>
        <div class="tp-bannertimer"></div>
    </div>
</section>

<!--<ul>
    <li data-delay="7000" data-transition="fade" data-slotamount="7" data-masterspeed="2000"><div class="elements">
    <div class="tp-caption lfb" data-x="0" data-y="85" data-speed="1000" data-start="2040" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" style="z-index: 4">
        <img src="img/sections/slider/rs-slider1-img2.png" width="500" height="600" alt="" />
    </div>
    <h2 class="tp-caption lft skewtotop title bold" data-x="502" data-y="121" data-speed="1000" data-start="1700" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn">
        <strong>
            Welcome To Mist
            <br />Multi-purpose Theme
        </strong>
    </h2>
    <h2 class="tp-caption lft skewtotop title" data-x="502" data-y="281" data-speed="1000" data-start="1700" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn">
        <strong>Mobile Responsive</strong>
    </h2>
    <div class="tp-caption lfr skewtoright description black hidden-xs" data-x="502" data-y="345" data-speed="1000" data-start="1500" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" style="max-width: 600px">
        <p>Proin a velit aliquam vitae malesuada rutrum. Aenean ullamcorper placerat porttitor velit aliquam vitae. Aliquam a augue suscipit, bibendum luctus neque laoreet rhoncus ipsum, ullamcorper</p>
    </div>
    <a href="#" class="tp-caption lfb btn btn-default hidden-xs" data-x="502" data-y="432" data-speed="1000" data-start="1700" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn">Read more</a>
</div>-->