@{
    ViewBag.Title = "AJ MILLWORK";
}

<section class="slider rs-slider-full">
    <div class="tp-banner-container">
        <div class="tp-banner-parallaxscroll" style="background: rgba(0,0,0,0.0);">
            <ul>
                <li data-transition="fade" data-slotamount="6" data-masterspeed="200" data-delay="7000" data-title="AJ Millwork">
                    <img src="~/img/slider/slide-01.jpg" alt="" data-bgposition="left bottom" data-kenburns="on" data-duration="14000" data-ease="Linear.easeNone" data-bgfit="130" data-bgfitend="100" data-bgpositionend="right center" />
                    <div class="elements white">
                        <h2 class="tp-caption tp-resizeme customin customout lft skewtotop title very_large_text rs-parallaxlevel-4" data-x="center" data-y="220" data-speed="800" data-start="800" data-customin="x:0;y:30;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn">
                              AJ MILLWORK
                        </h2>
                        <div class="tp-caption tp-resizeme customin customout lfr skewtoright description text-center rs-parallaxlevel-4" data-x="center" data-y="340" data-speed="800" data-start="1200" data-customin="x:0;y:30;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" style="max-width: 800px; text-align:center">
                            <h4>Designers and Builders of Fine Architectural Millwork & Staircases</h4>
                        </div>
                        <div class="tp-caption tp-resizeme lfb customin customout rs-parallaxlevel-4" data-x="320" data-y="190" data-speed="800" data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-start="1600" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" style="width: 100%">
                                <img src="~/img/ajLogo-sm.png" width="99" height="111" alt="" />
                        </div>
                    </div>
                </li>
              
                <li data-transition="scaledownfrombottom" data-slotamount="6" data-masterspeed="1500" data-delay="7000" data-title="Custom Built">
                    <img src="~/img/slider/slide-03.jpg" alt="" data-bgposition="center bottom" data-kenburns="on" data-duration="14000" data-ease="Linear.easeNone" data-bgfit="120" data-bgfitend="100" data-bgpositionend="right top" />
                    <div class="elements white">
                      <!-- <h2 class="tp-caption tp-resizeme sft skewtotop title very_large_text customin customout rs-parallaxlevel-2" data-hoffset="0" data-voffset="0" data-x="center" data-y="225" data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="800" data-start="800" data-startslide="1" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn">
                            STYLE. Inspiration. CUSTOM BUILT.</h2>
                        <div class="tp-caption tp-resizeme lfr skewtoright description text-center rs-parallaxlevel-2" data-x="290" data-y="center" data-speed="800" data-start="1200" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" style="max-width: 600px">
                            <h4></h4>
                        </div>
                        <h5 class="tp-caption tp-resizeme customin customout rs-parallaxlevel-2" data-x="350" data-y="410" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="800" data-start="1400" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 5">KITCHENS</h5>
                        <div class="tp-caption tp-resizeme customin customout rs-parallaxlevel-3" data-x="337" data-y="458" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="800" data-start="1600" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 5">
                            <img src="~/img/kitchen/Kitchen-View-3.jpg" width="120" alt="" />
                        </div>
                        <h5 class="tp-caption tp-resizeme customin customout rs-parallaxlevel-4" data-x="560" data-y="410" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="800" data-start="1800" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 5">LIBRARIES</h5>
                        <div class="tp-caption tp-resizeme customin customout rs-parallaxlevel-5" data-x="537" data-y="458" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="800" data-start="2000" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 5">
                            <img src="~/img/library/lib-14.jpg" width="120" alt="" />
                        </div>
                        <h5 class="tp-caption tp-resizeme customin customout rs-parallaxlevel-6" data-x="740" data-y="410" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="800" data-start="2200" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 5">STAIRCASES</h5>
                        <div class="tp-caption tp-resizeme customin customout rs-parallaxlevel-7" data-x="734" data-y="458" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="800" data-start="2400" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 5">
                            <img src="~/img/stair/stair-01.jpg" width="120" alt="" />
                        </div>--> 
                    </div>
                </li>
          
                <li data-transition="slotzoom-horizontal" data-slotamount="6" data-masterspeed="1500" data-delay="7000" class="slid2" data-title="Craftsmanship">
                    <img src="~/img/slider/slide-04.jpg" alt="" data-bgposition="left bottom" data-kenburns="on" data-duration="14000" data-ease="Linear.easeNone" data-bgfit="130" data-bgfitend="100" data-bgpositionend="right center" />
                    <div class="elements white">
                     <!--  <h2 class="tp-caption tp-resizeme sft skewtotop title very_large_text rs-parallaxlevel-2" data-x="15" data-y="230" data-speed="800" data-start="800" data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-easing="Power4.easeOut" data-endspeed="400" data-endeasing="Power1.easeIn">
                        Precise Craftsmanship</h2>
                        <div class="tp-caption tp-resizeme lfl skewtoleft description customin customout col-xs-5  rs-parallaxlevel-2" data-x="0" data-y="center" data-speed="800" data-start="1200" data-customin="x:0;y:30;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-easing="Power4.easeOut" data-endspeed="400" data-endeasing="Power1.easeIn" style="max-width: 520px;">
                            <h4>Create your surroundings to perfection.<br /> Enjoy being home.</h4>
                        </div> -->          
                    </div>
                </li>
            </ul>
            <div class="tp-bannertimer"></div>
        </div>
    </div>
</section>