@{
    ViewBag.Title = "Architectural Millwork";
}

<section id="process" class="page-section bg-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12 col-md-12">
                <div class="section-title black">
                    <h2 class="title">Architectural Millwork</h2>
                    <h4 class="sub-title">Design Services. Installation. Finishing</h4>
                </div>
            </div>
        </div>

        <div class="row black">
            <div class="col-xs-12 col-sm-6 col-md-4 widget bottom-xs-pad-20">
                <h3 class="title">QUALITY</h3>
                <p>
                    AJ Millwork, Inc. provides outstanding quality and exceptional value. We focus on Design, Custom Products, and Client Satisfaction. We check the project through all stages from production to installation in order to ensure quality and satisfaction.
                </p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 widget bottom-xs-pad-20">
                <h3 class="title">DESIGN</h3>
                <p>
                    Our designs are based on the client’s style preferences and the project requirements to fit their specific needs.  With our many years of experience, we are able to walk our clients through the design stage, finish, and installation of the project. We pay close attention to detail in order to help our clients achieve an exceptional result.
                </p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 widget bottom-xs-pad-20">
                <h3 class="title">SERVICE</h3>
                <p>
                    We will guide you from the beginning design stage all the way through to the finish product.  We can assist you with making custom design choices from drawings, wood species, layouts and paint finishes, upholstery, and decorative ornaments to name a few, through to the installation.  This expertise knowledge creates a unique product that fits both you and your lifestyle.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 col-md-4">
                <div class="work-process-box">
                    <div class="process-content">
                        
                        <h4 class="title">Moulding</h4>
                        <p>Base. Casing. Crown.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="work-process-box">
                    <div class="process-content">
                      
                        <h4 class="title">Build Ups</h4>
                        <p>Beams. Crown.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="work-process-box">
                    <div class="process-content">
                     
                        <h4 class="title">Millwork</h4>
                        <p>Wainscot. Paneled Openings.</p>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</section>
