@{
    ViewBag.Title = "Architectural Millwork";
}

<section id="features" class="page-section">





    <div class="container">
        <div class="row text-center black">
            <div class="col-sm-12 col-md-12">
                <div class="section-title black">
                    <h2 class="title">Architectural Millwork</h2>
                    <h4 class="sub-title">Design Services. Installation. Finishing</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4" data-animation="fadeInLeft">
                <ul class="features-list features-list-left">
                    <li class="features-list-item">
                        <i class="fa fa-lightbulb-o fa-2x border-black"></i>
                        <div class="features-content">
                            <!-- Title -->
                            <h5>Creative Design</h5>
                            <!-- Text -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit est is.</p>
                        </div>
                    </li>
                    <li class="features-list-item">
                        <!-- Icon -->
                        <i class="fa fa-lightbulb-o fa-2x border-black"></i>
                        <div class="features-content">
                            <!-- Title -->
                            <h5>Quality Work</h5>
                            <!-- Text -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit est is.</p>
                        </div>
                    </li>
                    <li class="features-list-item">
                        <!-- Icon -->
                        <i class="fa fa-code fa-2x border-black"></i>
                        <div class="features-content">
                            <!-- Title -->
                            <h5>Radius Detail</h5>
                            <!-- Text -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit est is.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 text-center" data-animation="fadeInUp">

               <img src="~/img/stair/stair-80.jpg" width="350" height="480" alt="" />
            </div>
            <div class="col-md-4" data-animation="fadeInRight">
                <ul class="features-list features-list-right">
                    <li class="features-list-item">
                        <!-- Icon -->
                        <i class="fa fa-pagelines fa-2x border-black"></i>
                        <div class="features-content">
                            <!-- Title -->
                            <h5>SELECTED WOOD</h5>
                            <!-- Text -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit est is.</p>
                        </div>
                    </li>
                    <li class="features-list-item">
                        <!-- Icon -->
                        <i class="fa fa-globe fa-2x border-black"></i>
                        <div class="features-content">
                            <!-- Title -->
                            <h5>HAND BUILT</h5>
                            <!-- Text -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit est is.</p>
                        </div>
                    </li>
                    <li class="features-list-item">
                        <!-- Icon -->
                        <i class="fa fa-microphone fa-2x border-black"></i>
                        <div class="features-content">
                            <!-- Title -->
                            <h5>EXPERIENCE</h5>
                            <!-- Text -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit est is.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row black">
            <div class="col-xs-12 col-sm-6 col-md-4 widget bottom-xs-pad-20">
                <h3 class="title">QUALITY</h3>
                <p>
                    AJ Millwork, Inc. provides outstanding quality and exceptional value. We focus on Design, Custom Products, and Client Satisfaction. We check the project through all stages from production to installation in order to ensure quality and satisfaction.
                </p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 widget bottom-xs-pad-20">
                <h3 class="title">DESIGN</h3>
                <p>
                    Our designs are based on the client’s style preferences and the project requirements to fit their specific needs.  With our many years of experience, we are able to walk our clients through the design stage, finish, and installation of the project. We pay close attention to detail in order to help our clients achieve an exceptional result.
                </p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 widget bottom-xs-pad-20">
                <h3 class="title">SERVICE</h3>
                <p>
                    We will guide you from the beginning design stage all the way through to the finish product.  We can assist you with making custom design choices from drawings, wood species, layouts and paint finishes, upholstery, and decorative ornaments to name a few, through to the installation.  This expertise knowledge creates a unique product that fits both you and your lifestyle.
                </p>
            </div>
        </div>


    </div>
</section>



