@{
    ViewBag.Title = "Contact";
}

<section id="Contact" class="bg-black">
    <div class="row">
        <div class="col-md-7 contact-ask img-responsive">
            <div class="ask-us">
                <h4 class="text-color text-center">Contact us about your project</h4>
                <hr class="white" />
                <h4 class="white text-center">630-659-7574</h4>
                <h4 class="text-center">
                    <a class="text-color" href="contact@a-jmillwork.com">contact@a-jmillwork.com</a>
                </h4>
                <hr class="white" />
            </div>
        </div>
        <div class="col-md-5 pad-60">
            <div class="contact-form img-responsive">

                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSco8jJYOlVA_ZfAO6R18pkHaUBaPQPrV4hHeKV15KQSppVQ8Q/viewform?embedded=true&amp;bc=transparent" width="100%" height="700" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

            </div>
        </div>
    </div>
</section>

