@{
    ViewBag.Title = "Contact";
}
<section id="contact-us" class="page-section">
    <div class="image-bg content-in fixed" data-background="img/sections/bg/bg-13.jpg">
        <div class="overlay"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <h2 class="text-color">Contact Us</h2>
                <p class="white"> </p>
                <hr class="white" />
                <h3 class="white">+0 (123) 456 7890</h3>
                <h3>
                    <a class="text-color" href="mailto:info@yourwebsite.com">info@yourwebsite.com</a>
                </h3>
                <hr class="white" />
                
            </div>
            <div class="col-md-6">
                <p class="form-message" style="display: none;"></p>
                <div class="contact-form field-border-bottom">
                    <!-- Form Begins -->
                    <form role="form" name="contactform" id="contactform" method="post" action="php/contact-form.php">
                        <!-- Field 1 -->
                        <div class="input-text form-group">
                            <input type="text" name="contact_name" class="input-name form-control" placeholder="Full Name" />
                        </div>
                        <!-- Field 2 -->
                        <div class="input-email form-group">
                            <input type="email" name="contact_email" class="input-email form-control" placeholder="Email" />
                        </div>
                        <!-- Field 3 -->
                        <div class="input-email form-group">
                            <input type="text" name="contact_phone" class="input-phone form-control" placeholder="Phone" />
                        </div>
                        <!-- Field 4 -->
                        <div class="textarea-message form-group">
                            <textarea name="contact_message" class="textarea-message hight-82 form-control" placeholder="Message" rows="2"></textarea>
                        </div>
                        <!-- Button -->
                        <button class="btn btn-default btn-block" type="submit">
                            Send Now
                            <i class="icon-paper-plane"></i>
                        </button>
                    </form>
                    <!-- Form Ends -->
                </div>
            </div>
        </div>
    </div>
</section>