@{
    ViewBag.Title = "Designer";
}
 
 <section id="design" class="page-section">
     <div class="container">
         <div class="row text-center bottom-pad-20">
             <div class="col-sm-12 col-md-12">
                 <div class="section-title">
                     <h2 class="title">Designer Series</h2>
                 </div>
             </div>
         </div>
         <div class="row bottom-xs-pad-40 bottom-pad-70">
             <div class="col-md-5">
                 <div class="section-title">
                     <h3 class="title">Distinctive Design </h3>
                 </div>
                 <div class="section-title">
                     <h3 class="title">Exceptional Quality </h3>
                 </div>
                 <div class="section-title">
                     <h3 class="title">Remarkable Results </h3>
                 </div>
                 <h6>
                     We base our designs on your preferences and style choices to create the perfect fit for your home.  With our many years of experience, we have the know how to expertly work with you throughout the entire project.
                     Our attention to detail is the key to exceptional quality and distinct designs. We do it all, from the beginning design to the fabrication and installation.
                     <br />
                     <span style="line-height:40px;">AJ Millwork can help you achieve remarkable results.</span>
                 </h6>
                 <h3>Imagine The Possibilities…</h3>
             </div>
             <div class="col-md-7">
                 <div class="series-slide">
                     <div class="slider">
                         <div id="main-slider" class="bottom-margin-70">
                             <div id="design-photos" class="carousel slide carousel-fade top-margin-40" data-ride="carousel">
                                 <div class="carousel-inner" role="listbox">
                                     <div class="item active">
                                         <img src="~/img/designer/design-08.jpg" class="" alt="kitchen" title="kitchen" />
                                     </div><div class="item">
                                         <img src="~/img/designer/design-30.jpg" class="" alt="millwork bar" title="rounded bar ceiling insert" />
                                     </div>
                                     <div class="item">
                                         <img src="~/img/designer/design-70.jpg" class="" alt="master bedroom entry" title="master bedroom entry" />
                                     </div>
                                     <div class="item">
                                         <img src="~/img/designer/design-04.jpg" class="" alt="Ceiling" title="design vaulted ceiling" />
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <hr />
         
         <div class="clearfix"></div>
         <div class="row tb-margin-50">
             <div class="title">
                 <h3 class="text-center title-description">KITCHEN</h3>
             </div>
             <div class="col-sm-3" data-animation="fadeInLeft">
                 <div class="mar-pad">
                     <a class="venobox" data-gall="kitchen-gallery" href="~/img/designer/design-06.jpg">
                         <img src="~/img/designer/design-06.jpg" alt="Millwork" class="img-responsive border6" style="margin-bottom:30px;" />
                     </a>
                     <a class="venobox" data-gall="kitchen-gallery" href="~/img/designer/design-07.jpg">
                         <img src="~/img/designer/design-07.jpg" alt="Millwork" class="img-responsive border6" />
                     </a>
                 </div>
             </div>
             <div class="col-sm-6">
                 <div class="mar-pad">
                     <a class="venobox" data-gall="kitchen-gallery" href="~/img/designer/design-03.jpg">
                         <img src="~/img/designer/design-03.jpg" alt="Millwork" class="img-responsive border4" />
                     </a>
                 </div>
             </div>
             <div class="col-sm-3" data-animation="fadeInRight">
                 <div class="mar-pad">
                     <a class="venobox pad-60" data-gall="kitchen-gallery" href="~/img/designer/design-08.jpg">
                         <img src="~/img/designer/design-08.jpg" alt="Millwork" class="img-responsive border6" style="margin-bottom:30px;" />
                     </a>
                     <a class="venobox pad-60" data-gall="kitchen-gallery" href="~/img/designer/design-09.jpg">
                         <img src="~/img/designer/design-09.jpg" alt="Millwork" class="img-responsive border6" />
                     </a>
                 </div>
             </div>
         </div>
         <hr />

         <div class="clearfix"></div>
         <div class="row tb-margin-50">
             <div class="title">
                 <h3 class="text-center title-description">STAIRS</h3>
             </div>
             <div class="col-sm-3" data-animation="fadeInLeft">
                 <div class="mar-pad">
                     <a class="venobox" data-gall="stair-gallery" href="~/img/stair/stair-02.jpg">
                         <img src="~/img/stair/stair-02.jpg" alt="Millwork" class="img-responsive border6" style="margin-bottom:30px;" />
                     </a>
                     <a class="venobox" data-gall="stair-gallery" href="~/img/stair/stair-06.jpg">
                         <img src="~/img/stair/stair-06.jpg" alt="Millwork" class="img-responsive border6" />
                     </a>
                 </div>
             </div>
             <div class="col-sm-6">
                 <div class="mar-pad">
                     <a class="venobox" data-gall="stair-gallery" href="~/img/stair/stair-01.jpg">
                         <img src="~/img/stair/stair-01.jpg" alt="Millwork" class="img-responsive border4" />
                     </a>
                 </div>
             </div>
             <div class="col-sm-3" data-animation="fadeInRight">
                 <div class="mar-pad">
                     <a class="venobox" data-gall="stair-gallery" href="~/img/stair/stair-04.jpg">
                         <img src="~/img/stair/stair-04.jpg" alt="Millwork" class="img-responsive border6" />
                     </a>                    
                 </div>
             </div>
         </div>
         <hr />

         <div class="clearfix"></div>
         <div class="row tb-margin-50">
             <div class="title">
                 <h3 class="text-center title-description">MILLWORK</h3>
             </div>
             <div class="col-sm-3" data-animation="fadeInLeft">
                 <div class="mar-pad">
                     <a class="venobox" data-gall="millwork-gallery" href="~/img/designer/design-02.jpg">
                         <img src="~/img/designer/design-02.jpg" alt="Millwork" class="img-responsive border6" style="margin-bottom:30px;" />
                     </a>
                     <a class="venobox" data-gall="millwork-gallery" href="~/img/designer/design-04.jpg">
                         <img src="~/img/designer/design-04.jpg" alt="Millwork" class="img-responsive border6" style="margin-bottom:30px;" />
                     </a>
                     <a class="venobox pad-20" data-gall="millwork-gallery" href="~/img/designer/design-05.jpg">
                         <img src="~/img/designer/design-05.jpg" alt="Millwork" class="img-responsive border6" />
                     </a>
                 </div>
             </div>
             <div class="col-sm-6">
                 <div class="mar-pad">
                     <a class="venobox" data-gall="millwork-gallery" href="~/img/designer/design-01.jpg">
                         <img src="~/img/designer/design-01.jpg" alt="Millwork" class="img-responsive border4" />
                     </a>
                 </div>
             </div>
             <div class="col-sm-3" data-animation="fadeInRight">
                 <div class="mar-pad">
                     <a class="venobox" data-gall="millwork-gallery" href="~/img/designer/design-0110.jpg">
                         <img src="~/img/designer/design-0110.jpg" alt="Millwork" class="img-responsive border6" style="margin-bottom:30px;" />
                     </a>
                     <a class="venobox" data-gall="millwork-gallery" href="~/img/designer/design-0120.jpg">
                         <img src="~/img/designer/design-0120.jpg" alt="Millwork" class="img-responsive border6"/>
                     </a>
                 </div>
             </div>
         </div>
         <hr />

         <div class="clearfix"></div>
         <div class="row tb-margin-50">
             <div class="title">
                 <h3 class="text-center title-description">RECREATION</h3>
             </div>
             <div class="col-sm-3" data-animation="fadeInLeft">
                 <div class="mar-pad">
                     <a class="venobox" data-gall="game-gallery" href="~/img/designer/design-13.jpg">
                         <img src="~/img/designer/design-13.jpg" alt="Millwork" class="img-responsive border6" style="margin-bottom:30px;" />
                     </a>
                     <a class="venobox" data-gall="game-gallery" href="~/img/designer/design-14.jpg">
                         <img src="~/img/designer/design-14.jpg" alt="Millwork" class="img-responsive border6" style="margin-bottom:30px;" />
                     </a>
                     <a class="venobox" data-gall="game-gallery" href="~/img/designer/design-15.jpg">
                         <img src="~/img/designer/design-15.jpg" alt="Millwork" class="img-responsive border6" style="margin-bottom:30px;" />
                     </a>
                     <a class="venobox" data-gall="game-gallery" href="~/img/designer/design-16.jpg">
                         <img src="~/img/designer/design-16.jpg" alt="Millwork" class="img-responsive border6" style="margin-bottom:30px;" />
                     </a>
                     <a class="venobox" data-gall="game-gallery" href="~/img/designer/design-22.jpg">
                         <img src="~/img/designer/design-22.jpg" alt="Millwork" class="img-responsive border6" style="margin-bottom:30px;" />
                     </a>
                     <a class="venobox" data-gall="game-gallery" href="~/img/designer/design-23.jpg">
                         <img src="~/img/designer/design-23.jpg" alt="Millwork" class="img-responsive border6" />
                     </a>
                 </div>
             </div>
             <div class="col-sm-6">
                 <div class="mar-pad">
                     <a class="venobox" data-gall="game-gallery" href="~/img/designer/design-19.jpg">
                         <img src="~/img/designer/design-19.jpg" alt="Millwork" class="img-responsive border4" />
                     </a>
                     <a class="venobox" data-gall="game-gallery" href="~/img/designer/design-24.jpg">
                         <img src="~/img/designer/design-24.jpg" alt="Millwork" class="img-responsive border4" />
                     </a>

                 </div>
             </div>
             <div class="col-sm-3" data-animation="fadeInRight">
                 <div class="mar-pad">
                     <a class="venobox" data-gall="game-gallery" href="~/img/designer/design-20.jpg">
                         <img src="~/img/designer/design-20.jpg" alt="Millwork" class="img-responsive border6" style="margin-bottom:30px;" />
                     </a>
                     <a class="venobox" data-gall="game-gallery" href="~/img/designer/design-18.jpg">
                         <img src="~/img/designer/design-18.jpg" alt="Millwork" class="img-responsive border6" style="margin-bottom:30px;" />
                     </a>
                     <a class="venobox" data-gall="game-gallery" href="~/img/designer/design-21.jpg">
                         <img src="~/img/designer/design-21.jpg" alt="Millwork" class="img-responsive border6" style="margin-bottom:30px;" />
                     </a>
                     <a class="venobox" data-gall="game-gallery" href="~/img/designer/design-25.jpg">
                         <img src="~/img/designer/design-25.jpg" alt="Millwork" class="img-responsive border6" style="margin-bottom:30px;" />
                     </a>
                     <a class="venobox" data-gall="game-gallery" href="~/img/designer/design-26.jpg">
                         <img src="~/img/designer/design-26.jpg" alt="Millwork" class="img-responsive border6" />
                     </a>
                 </div>
             </div>
         </div>
         <hr />

         <div class="clearfix"></div>
         <div class="row tb-margin-50">
             <div class="title">
                 <h3 class="text-center title-description">ENTERTAINMENT</h3>
             </div>
             <div class="col-sm-3" data-animation="fadeInLeft">
                 <div class="mar-pad">
                     <a class="venobox" data-gall="entertain-gallery" href="~/img/designer/design-30.jpg">
                         <img src="~/img/designer/design-30.jpg" alt="Millwork" class="img-responsive border6" style="margin-bottom:30px;" />
                     </a>
                     <a class="venobox" data-gall="entertain-gallery" href="~/img/designer/design-32.jpg">
                         <img src="~/img/designer/design-32.jpg" alt="Millwork" class="img-responsive border6" style="margin-bottom:30px;" />
                     </a>
                     <a class="venobox" data-gall="entertain-gallery" href="~/img/designer/design-33.jpg">
                         <img src="~/img/designer/design-33.jpg" alt="Millwork" class="img-responsive border6" />
                     </a>
                 </div>
             </div>
             <div class="col-sm-6">
                 <div class="mar-pad">
                     <a class="venobox" data-gall="entertain-gallery" href="~/img/designer/design-31.jpg">
                         <img src="~/img/designer/design-31.jpg" alt="Millwork" class="img-responsive border4" />
                     </a>
                 </div>
             </div>
             <div class="col-sm-3" data-animation="fadeInRight">
                 <div class="mar-pad">
                     <a class="venobox" data-gall="entertain-gallery" href="~/img/designer/design-34.jpg">
                         <img src="~/img/designer/design-34.jpg" alt="Millwork" class="img-responsive border6" />
                     </a>
                     <a class="venobox" data-gall="entertain-gallery" href="~/img/designer/design-35.jpg">
                         <img src="~/img/designer/design-35.jpg" alt="Millwork" class="img-responsive border6" />
                     </a>
                     <a class="venobox" data-gall="entertain-gallery" href="~/img/designer/design-36.jpg">
                         <img src="~/img/designer/design-36.jpg" alt="Millwork" class="img-responsive border6" />
                     </a>
                 </div>
             </div>
         </div>
         <hr />


         <div class="clearfix"></div>
         <div class="row tb-margin-50">
             <div class="title">
                 <h3 class="text-center title-description">THEATER</h3>
             </div>
             <div class="col-sm-3" data-animation="fadeInLeft">
                 <div class="mar-pad">
                     <a class="venobox" data-gall="theater-gallery" href="~/img/designer/design-65.jpg">
                         <img src="~/img/designer/design-65.jpg" alt="Millwork" class="img-responsive border6" style="margin-bottom:30px;" />
                     </a>
                     <a class="venobox" data-gall="theater-gallery" href="~/img/designer/design-60.jpg">
                         <img src="~/img/designer/design-60.jpg" alt="Millwork" class="img-responsive border6" style="margin-bottom:30px;" />
                     </a>
                     <a class="venobox" data-gall="theater-gallery" href="~/img/designer/design-63.jpg">
                         <img src="~/img/designer/design-63.jpg" alt="Millwork" class="img-responsive border6" />
                     </a>
                 </div>
             </div>
             <div class="col-sm-6">
                 <div class="mar-pad">
                     <a class="venobox" data-gall="theater-gallery" href="~/img/designer/design-61.jpg">
                         <img src="~/img/designer/design-61.jpg" alt="Millwork" class="img-responsive border4" />
                     </a>
                 </div>
             </div>
             <div class="col-sm-3" data-animation="fadeInRight">
                 <div class="mar-pad">
                     <a class="venobox" data-gall="theater-gallery" href="~/img/designer/design-62.jpg">
                         <img src="~/img/designer/design-62.jpg" alt="Millwork" class="img-responsive border6" style="margin-bottom:30px;" />
                     </a>
                     <a class="venobox" data-gall="theater-gallery" href="~/img/designer/design-67.jpg">
                         <img src="~/img/designer/design-67.jpg" alt="Millwork" class="img-responsive border6" style="margin-bottom:30px;" />
                     </a>
                     <a class="venobox" data-gall="theater-gallery" href="~/img/designer/design-64.jpg">
                         <img src="~/img/designer/design-64.jpg" alt="Millwork" class="img-responsive border6" style="margin-bottom:30px;" />
                     </a>
                     <a class="venobox" data-gall="theater-gallery" href="~/img/designer/design-68.jpg">
                         <img src="~/img/designer/design-68.jpg" alt="Millwork" class="img-responsive border6" />
                     </a>
                 </div>
             </div>
         </div>
         <hr />

         <div class="clearfix"></div>
         <div class="row tb-margin-50">
             <div class="title">
                 <h3 class="text-center title-description">BATHROOMS</h3>
             </div>
             <div class="col-sm-3" data-animation="fadeInLeft">
                 <div class="mar-pad">
                     <a class="venobox" data-gall="bath-gallery" href="~/img/bath/bath-42.jpg">
                         <img src="~/img/bath/bath-42.jpg" alt="Millwork" class="img-responsive border6" style="margin-bottom:30px;" />
                     </a>
                     <a class="venobox" data-gall="bath-gallery" href="~/img/designer/design-17.jpg">
                         <img src="~/img/designer/design-17.jpg" alt="Millwork" class="img-responsive border6" style="margin-bottom:30px;" />
                     </a>
                     <a class="venobox" data-gall="bath-gallery" href="~/img/designer/design-55.jpg">
                         <img src="~/img/designer/design-55.jpg" alt="Millwork" class="img-responsive border6" />
                     </a>
                 </div>
             </div>
             <div class="col-sm-6">
                 <div class="mar-pad">
                     <a class="venobox" data-gall="bath-gallery" href="~/img/bath/bath-40.jpg">
                         <img src="~/img/bath/bath-40.jpg" alt="Millwork" class="img-responsive border4" />
                     </a>
                 </div>
             </div>
             <div class="col-sm-3" data-animation="fadeInRight">
                 <div class="mar-pad">
                     <a class="venobox" data-gall="bath-gallery" href="~/img/designer/design-40.jpg">
                         <img src="~/img/designer/design-40.jpg" alt="Millwork" class="img-responsive border6" style="margin-bottom:30px;" />
                     </a>
                     <a class="venobox" data-gall="bath-gallery" href="~/img/designer/design-41.jpg">
                         <img src="~/img/designer/design-41.jpg" alt="Millwork" class="img-responsive border6" style="margin-bottom:30px;" />
                     </a>
                     <a class="venobox" data-gall="bath-gallery" href="~/img/designer/design-56.jpg">
                         <img src="~/img/designer/design-56.jpg" alt="Millwork" class="img-responsive border6" style="margin-bottom:30px;" />
                     </a>
                     <a class="venobox" data-gall="theater-gallery" href="~/img/designer/design-57.jpg">
                         <img src="~/img/designer/design-57.jpg" alt="Millwork" class="img-responsive border6" style="margin-bottom:30px;" />
                     </a>
                 </div>
             </div>
         </div>
         <hr />

<div class="clearfix"></div>
         <div class="row tb-margin-50">
             <div class="title">
                 <h3 class="text-center title-description">ELEGANT ENTRANCE</h3>
             </div>
             <div class="col-sm-3" data-animation="fadeInLeft">
                 <div class="mar-pad">
                     <a class="venobox" data-gall="elegant-gallery" href="~/img/designer/design-70.jpg">
                         <img src="~/img/designer/design-70.jpg" alt="Millwork" class="img-responsive border3" />
                     </a>
                 </div>
             </div>
             <div class="col-sm-6">
                 <a class="venobox" data-gall="elegant-gallery" href="~/img/designer/design-59.jpg">
                     <img src="~/img/designer/design-59.jpg" alt="Millwork" class="img-responsive border6" />
                 </a>
             </div>
             <div class="col-sm-3" data-animation="fadeInRight">
                 <div class="mar-pad">
                     <a class="venobox" data-gall="elegant-gallery" href="~/img/designer/design-71.jpg">
                         <img src="~/img/designer/design-71.jpg" alt="Millwork" class="img-responsive border3" style="margin-bottom:30px;" />
                     </a>
                     <a class="venobox" data-gall="elegant-gallery" href="~/img/design/designer-58.jpg">
                         <img src="~/img/designer/design-58.jpg" alt="Millwork" class="img-responsive border3" />
                     </a>
                 </div>
             </div>
         </div>
         <hr />

         <div class="clearfix"></div>
         <div class="row tb-margin-50">
             <div class="title">
                 <h3 class="text-center title-description">FURNITURE</h3>
             </div>
             <div class="col-sm-3" data-animation="fadeInLeft">
                 <div class="mar-pad">
                     <a class="venobox" data-gall="furniture-gallery" href="~/img/entertain/furniture-04.jpg">
                         <img src="~/img/entertain/furniture-04.jpg" alt="Millwork" class="img-responsive border3" />
                     </a>
                 </div>
             </div>
             <div class="col-sm-6">
                 <a class="venobox" data-gall="furniture-gallery" href="~/img/entertain/furniture-02.jpg">
                     <img src="~/img/entertain/furniture-02.jpg" alt="Millwork" class="img-responsive border4" />
                 </a>
             </div>
             <div class="col-sm-3" data-animation="fadeInRight">
                 <div class="mar-pad">
                     <a class="venobox" data-gall="furniture-gallery" href="~/img/entertain/furniture-07.jpg">
                         <img src="~/img/entertain/furniture-07.jpg" alt="Millwork" class="img-responsive border3" style="margin-bottom:30px;" />
                     </a>
                     <a class="venobox" data-gall="furniture-gallery" href="~/img/entertain/furniture-01.jpg">
                         <img src="~/img/entertain/furniture-01.jpg" alt="Millwork" class="img-responsive border3" />
                     </a>
                 </div>
             </div>
         </div>
         <hr />

     
</section>
