@{
    ViewBag.Title = "Designer";
}
 
    <section id="design" class="page-section">
        <div class="container">
            <div class="row text-center bottom-pad-20">
                <div class="col-sm-12 col-md-12">
                    <div class="section-title">
                        <h2 class="title">Designer Series</h2>
                    </div>
                </div>
            </div>
            <div class="row bottom-pad-30">
                <div class="col-md-6">
                    <div class="section-title">
                        <h2 class="title">Distinctive Design </h2>
                    </div>
                    <div class="section-title">
                        <h2 class="title">Exceptional Quality </h2>
                    </div>
                    <div class="section-title">
                        <h2 class="title">Remarkable Results </h2>
                    </div>
                    <h6>
                        We base our designs on your preferences and style choices to create the perfect fit for your home.  With our many years of experience, we have the know how to expertly work with you throughout the entire project.
                        Our attention to detail is the key to exceptional quality and distinct designs.<br /> We do it all, from the beginning design to the fabrication and installation.
                        <br />
                        AJ Millwork can help you achieve remarkable results.
                    </h6>
                    <h4>Imagine The Possibilities…</h4>
                </div>
                <div class="col-md-6 bottom-pad-30">
                    <div class="series-slide">
                        <div class="slider">
                            <div id="main-slider">
                                <div id="design-photos" class="carousel slide carousel-fade top-margin-40" data-ride="carousel">
                                    <div class="carousel-inner" role="listbox">
                                        <div class="item active">
                                            <img src="~/img/kitchen/Kitchen-View-1.jpg" class="boxshadow" alt="kitchen builtin cabinetry" title="Kitchen Beam Curve Ceiling" width="2000" height="1080" />
                                        </div>
                                        <div class="item">
                                            <img src="~/img/kitchen/Kitchen-View-3.jpg" class="boxshadow" alt="island split level cabinets" title="island split level cabinets" width="2000" height="1080" />
                                        </div>
                                        <div class="item">
                                            <img src="~/img/kitchen/Kitchen-Sink-2.jpg" class="boxshadow" alt="kitchen cabinets" title="kitchen cabinets" width="2000" height="1080" />
                                        </div>
                                        <div class="item">
                                            <img src="~/img/kitchen/DSC_0008.jpg" class="boxshadow" alt="Island bar sink" title="Island bar sink" width="2000" height="1080" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-center pad" data-animation="fadeInLeft">

                    <img src="~/img/door/door-13.jpg" alt="Recent Work" class="img-responsive boxshadow" />
                </div>
                <div class="col-md-6 text-center pad" data-animation="fadeInUp">
                    <img src="~/img/kitchen/Refrigerator.jpg" alt="Recent Work" class="img-responsive boxshadow" />
                </div>
            </div>
        </div>
    </section>
