@{
    ViewBag.Title = "DesignerFurniture";
}
 
<section id="designer-furniture" class="page-section">
   <div class="container">
            <div class="row text-center bottom-pad-20">
                <div class="col-sm-12 col-md-12">
                    <div class="section-title">
                        <h2 class="title">Designer Furniture</h2>
                    </div>
                </div>
            </div>
     
       <div class="row tb-margin-50">
           <div class="mixed-grid pad">
               <div class="masonry-grid grid-col-4" data-gutter="20">
                   <div class="grid-sizer"></div>
                   <div class="grid-item all design-item-lt">
                       <a class="venobox" data-gall="portfolio-gallery" href="~/img/stair/stair-02.jpg">
                           <img src="~/img/stair/stair-02.jpg" alt="Millwork" class="img-responsive border3" />
                       </a>
                   </div>
                   <div class="grid-item all">
                       <a class="venobox" data-gall="portfolio-gallery" href="~/img/stair/stair-01.jpg">
                           <img src="~/img/stair/stair-01.jpg" alt="Millwork" class="img-responsive border3" />
                       </a>
                   </div>
                   <div class="grid-item all">
                       <a class="venobox" data-gall="portfolio-gallery" href="~/img/stair/stair-06.jpg">
                           <img src="~/img/stair/stair-06.jpg" alt="Millwork" class="img-responsive border3" />
                       </a>
                   </div><div class="grid-item all design-item-rt">
                       <a class="venobox" data-gall="portfolio-gallery" href="~/img/stair/stair-04.jpg">
                           <img src="~/img/stair/stair-04.jpg" alt="Millwork" class="img-responsive border3" />
                       </a>
                   </div>
               </div>
           </div>
       </div>
            <hr />  
       
  </div>       
</section>
