@{
    ViewBag.Title = "Designer";
}
 
    <section id="design" class="page-section">
        <div class="container">
            <div class="row text-center bottom-pad-20">
                <div class="col-sm-12 col-md-12">
                    <div class="section-title">
                        <h2 class="title">Designer Series</h2>
                    </div>
                </div>
            </div>
            <div class="row bottom-xs-pad-40">
                <div class="col-md-6">
                    <div class="section-title">
                        <h3 class="title">Distinctive Design </h3>
                    </div>
                    <div class="section-title">
                        <h3 class="title">Exceptional Quality </h3>
                    </div>
                    <div class="section-title">
                        <h3 class="title">Remarkable Results </h3>
                    </div>
                    <h6>
                        We base our designs on your preferences and style choices to create the perfect fit for your home.  With our many years of experience, we have the know how to expertly work with you throughout the entire project.
                        Our attention to detail is the key to exceptional quality and distinct designs.<br /> We do it all, from the beginning design to the fabrication and installation.
                        <br />
                        AJ Millwork can help you achieve remarkable results.
                    </h6>
                    <h3>Imagine The Possibilities…</h3>
                </div>
                <div class="col-md-6 bottom-pad-30">
                    <div class="series-slide">
                        <div class="slider">
                            <div id="main-slider">
                                <div id="design-photos" class="carousel slide carousel-fade top-margin-40" data-ride="carousel">
                                    <div class="carousel-inner" role="listbox">
                                        <div class="item active">
                                            <img src="~/img/kitchen/Kitchen-View-1.jpg" class="" alt="kitchen builtin cabinetry" title="Kitchen Beam Curve Ceiling" width="1000" height="540" />
                                        </div>
                                        <div class="item">
                                            <img src="~/img/designer/stair-01.jpg" class="" alt="radius stair well" title="radius stair well" width="1000" height="540" />
                                        </div>
                                        <div class="item">
                                            <img src="~/img/kitchen/Kitchen-Sink-2.jpg" class="" alt="kitchen cabinets" title="kitchen cabinets" width="1000" height="540" />
                                        </div>
                                        <div class="item">
                                            <img src="~/img/kitchen/DSC_0008.jpg" class="" alt="Island bar sink" title="Island bar sink" width="1000" height="540" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row tb-margin-50 pad-80">
                <div class="mixed-grid pad border2-color">
                    <div class="masonry-grid grid-col-4" data-gutter="3">
                        <div class="grid-sizer"></div>
                        <div class="grid-item all stair">
                            <a class="venobox" data-gall="portfolio-gallery" href="~/img/stair/stair-02.jpg">
                                <img src="~/img/stair/stair-02.jpg" alt="Millwork" class="img-responsive border3" />
                            </a>
                        </div>
                        <div class="grid-item all stair">
                            <a class="venobox" data-gall="portfolio-gallery" href="~/img/stair/stair-01.jpg">
                                <img src="~/img/stair/stair-01.jpg" alt="Millwork" class="img-responsive border3" />
                            </a>
                        </div>
                        <div class="grid-item all stair">
                            <a class="venobox" data-gall="portfolio-gallery" href="~/img/stair/stair-06.jpg">
                                <img src="~/img/stair/stair-06.jpg" alt="Millwork" class="img-responsive border3" />
                            </a>
                        </div>
                        <div class="grid-item all stair">
                            <a class="venobox" data-gall="portfolio-gallery" href="~/img/stair/stair-04.jpg">
                                <img src="/img/stair/stair-04.jpg" alt="Millwork" class="img-responsive border3" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row tb-margin-50 pad-80">
                <div class="mixed-grid pad border2-color">
                    <div class="masonry-grid grid-col-3" data-gutter="15">
                        <div class="grid-sizer"></div>
                        <div class="grid-item all entertain">
                            <a class="venobox" data-gall="portfolio-gallery" href="~/img/entertain/furniture-02.jpg">
                                <img src="~/img/entertain/furniture-02.jpg" alt="Millwork" class="img-responsive border3" />
                            </a>
                        </div>
                        <div class="grid-item all entertain">
                            <a class="venobox" data-gall="portfolio-gallery" href="~/img/entertain/furniture-04.jpg">
                                <img src="~/img/entertain/furniture-04.jpg" alt="Millwork" class="img-responsive border3" />
                            </a>
                        </div>
                        <div class="grid-item all entertain">
                            <a class="venobox" data-gall="portfolio-gallery" href="~/img/entertain/furniture-01.jpg">
                                <img src="~/img/entertain/furniture-01.jpg" alt="Millwork" class="img-responsive border3" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <br />     
        <div class="row">
            <div class="mixed-grid pad">
                <div class="masonry-grid grid-col-4" data-gutter="15">
                    <div class="grid-sizer"></div>

                </div>
            </div>
        </div>
       
        <div class="row">
            <div class="mixed-grid pad">
                <div class="masonry-grid grid-col-4" data-gutter="15">
                    <div class="grid-sizer"></div>

                </div>
            </div>
        </div>
        </div>
    </section>
