@{
    ViewBag.Title = "Design";
}
 
    <section id="design" class="page-section">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12 col-md-12">
                <div class="section-title black">
                    <h2 class="title">Design Millwork</h2>
                    <h4 class="sub-title">Millwork Masterfully Designed</h4>
                </div>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-4">
                <div class="">
                    <div class="">
                        <h4 class="">We conceptualize, design and build custom millwork for your home. Enjoy our examples </h4>
                        <h5 class="">Radial Archways / Plaster Ceilings</h5>
                    </div>
                </div>
                <div class="">
                    <div class="">
                        <h3 class="sub-title">Design Build</h3>
                        <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl diam, laoreet quis eros ac, placerat tincidunt neque. Vivamus molestie, nisl eu accumsan elementum, libero neque aliquam nibh, in venenatis velit velit eget nunc. Aliquam non venenatis justo, vitae feugiat urna. Morbi et tempor purus.</p>
                    </div>
                </div>
            </div>
            <div class="slider col-md-8">
                <div class="slider">
                    <div id="main-slider">
                        <div id="design-photos" class="carousel slide carousel-fade" data-ride="carousel">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="~/img/stair/stair-11.jpg" alt="" title="" />
                                </div>
                                <div class="item">
                                    <img src="~/img/stair/stair-103.jpg" alt="" title="" width="2000" height="1080" />
                                </div>
                                <div class="item">
                                    <img src="~/img/stair/stair-101.jpg" alt="" title="" width="2000" height="1080" />
                                </div>
                                <div class="item">
                                    <img src="~/img/stair/stair-140.jpg" alt="" title="" width="2000" height="1080" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mixed-grid pad">
                <div class="masonry-grid grid-col-2">
                    <div class="grid-sizer"></div>
                    <div class="grid-item">
                        <img src="~/img/stair/stair-163.jpg" alt="Recent Work" class="img-responsive" />
                        <div class="img-overlay"></div>
                        <div class="figcaption">
                            <div class="caption-block">
                                <h4>I designed</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <img src="~/img/stair/stair-11.jpg" alt="Recent Work" class="img-responsive" />
                        <div class="img-overlay"></div>
                        <div class="figcaption">
                            <div class="caption-block">
                                <h4>I designed</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <img src="~/img/stair/stair-101.jpg" alt="Recent Work" class="img-responsive" />
                        <div class="img-overlay"></div>
                        <div class="figcaption">
                            <div class="caption-block">
                                <h4>I designed</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <img src="~/img/stair/stair-120.jpg" alt="Recent Work" class="img-responsive" />
                        <div class="img-overlay"></div>
                        <div class="figcaption">
                            <div class="caption-block">
                                <h4>I designed</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
