@{
    ViewBag.Title = "Portfolio";
}


<section id="work" class="page-section">

    <div class="mixed-grid pad">

        <div id="works-nav">
           <div class="sticky-wrapper">
            <div class="filter-menu">
                <ul class="nav black works-filters text-center" id="filters">
                    <li class="filter active" data-filter=".all">Portfolio</li>
                    <li class="filter" data-filter=".kitchen">Kitchens</li>
                    <li class="filter" data-filter=".bath">Bathrooms</li>
                    <li class="filter" data-filter=".library">Libraries</li>
                    <li class="filter" data-filter=".entertain">Entertainment</li>
                    <li class="filter" data-filter=".door">Doors</li>
                    <li class="filter" data-filter=".fireplace">Fireplaces</li>
                    <li class="filter" data-filter=".stair">Staircases</li>
                </ul>
            </div>
        </div>
        </div>
        <div class="clearfix"></div>


        <!--  <a class="venobox" data-gall="portfolio-gallery" href="">  -->


        <div class="masonry-grid grid-col-4" data-gutter="10">
            <div class="grid-sizer"></div>

            <div class="grid-item all kitchen">
                <a class="venobox" data-gall="portfolio-gallery" href="~/img/kitchen/Kitchen-View-3.jpg">
                    <img src="~/img/kitchen/Kitchen-View-3.jpg" alt="Millwork" class="img-responsive border3" />
                </a>
            </div>
            <div class="grid-item all kitchen">
                <a class="venobox" data-gall="portfolio-gallery" href="~/img/kitchen/Kitchen-View-1.jpg">
                    <img src="~/img/kitchen/Kitchen-View-1.jpg" alt="Millwork" class="img-responsive border3" />
                </a>
            </div>
            <div class="grid-item all kitchen">
                <a class="venobox" data-gall="portfolio-gallery" href="~/img/kitchen/Refrigerator.jpg">
                    <img src="~/img/kitchen/Refrigerator.jpg" alt="Millwork" class="img-responsive border3" />
                </a>
            </div>
            <div class="grid-item all kitchen">
                <a class="venobox" data-gall="portfolio-gallery" href="~/img/kitchen/Kitchen-Sink-2.jpg">
                    <img src="~/img/kitchen/Kitchen-Sink-2.jpg" alt="Millwork" class="img-responsive border3" />
                </a>
            </div>
            <div class="grid-item all kitchen">
                <a class="venobox" data-gall="portfolio-gallery" href="~/img/kitchen/cab-13.jpg">
                    <img src="~/img/kitchen/cab-13.jpg" alt="Millwork" class="img-responsive border3" />
                </a>
            </div>
            <div class="grid-item all door kitchen">
                <a class="venobox" data-gall="portfolio-gallery" href="~/img/door/door-13.jpg">
                    <img src="~/img/door/door-13.jpg" alt="Millwork" class="img-responsive border3" />
                </a>
            </div>
            <div class="grid-item all kitchen">
                <a class="venobox" data-gall="portfolio-gallery" href="~/img/kitchen/DSC_0008.jpg">
                    <img src="~/img/kitchen/DSC_0008.jpg" alt="kitchen" class="img-responsive border3" />
                </a>
            </div>
            <div class="grid-item all kitchen">
                <a class="venobox" data-gall="portfolio-gallery" href="~/img/kitchen/DSC_0019.jpg">
                    <img src="~/img/kitchen/DSC_0019.jpg" alt="Millwork" class="img-responsive border3" />
                </a>
            </div>
            <div class="grid-item all kitchen">
                <a class="venobox" data-gall="portfolio-gallery" href="~/img/kitchen/DSC_0020.jpg">
                    <img src="~/img/kitchen/DSC_0020.jpg" alt="Millwork" class="img-responsive border3" />
                </a>
            </div>
            <div class="grid-item all kitchen">
                <a class="venobox" data-gall="portfolio-gallery" href="~/img/kitchen/DSC_0021.jpg">
                    <img src="~/img/kitchen/DSC_0021.jpg" alt="Millwork" class="img-responsive border3" />
                </a>
            </div>
            <div class="grid-item all kitchen">
                <a class="venobox" data-gall="portfolio-gallery" href="~/img/kitchen/DSC_0022.jpg">
                    <img src="~/img/kitchen/DSC_0022.jpg" alt="Millwork" class="img-responsive border3" />
                </a>
            </div>
            <div class="grid-item all kitchen">
                <a class="venobox" data-gall="portfolio-gallery" href="~/img/kitchen/DSC_0004.jpg">
                    <img src="~/img/kitchen/DSC_0004.jpg" alt="kitchen" class="img-responsive border3" />
                </a>
            </div>
            <div class="grid-item all kitchen">
                <a class="venobox" data-gall="portfolio-gallery" href="~/img/kitchen/DSC_0006.jpg">
                    <img src="~/img/kitchen/DSC_0006.jpg" alt="kitchen" class="img-responsive border3" />
                </a>
            </div>

            <div class="grid-item all kitchen">
                <a class="venobox" data-gall="portfolio-gallery" href="~/img/kitchen/modernKitchen.jpg">
                    <img src="~/img/kitchen/modernKitchen.jpg" alt="Millwork" class="img-responsive border3" />
                </a>
            </div>

            <div class="grid-item all kitchen">
                <a class="venobox" data-gall="portfolio-gallery" href="~/img/kitchen/kitchen01.jpg">
                    <img src="~/img/kitchen/kitchen01.jpg" alt="Millwork" class="img-responsive border3" />
                </a>
            </div>
            <div class="grid-item all kitchen">
                <a class="venobox" data-gall="portfolio-gallery" href="~/img/kitchen/cab-02.jpg">
                    <img src="~/img/kitchen/cab-02.jpg" alt="Millwork" class="img-responsive border3" />
                </a>
            </div>
            <div class="grid-item all library">
                <a class="venobox" data-gall="portfolio-gallery" href="~/img/library/lib-01.jpg">
                    <img src="~/img/library/lib-01.jpg" alt="Millwork" class="img-responsive border3" />
                </a>
            </div>
            <div class="grid-item all library">
                <a class="venobox" data-gall="portfolio-gallery" href="~/img/library/lib-02.jpg">
                    <img src="~/img/library/lib-02.jpg" alt="Millwork" class="img-responsive border3" />
                </a>
            </div>
            <div class="grid-item all library">
                <a class="venobox" data-gall="portfolio-gallery" href="~/img/library/lib-03.jpg">
                    <img src="~/img/library/lib-03.jpg" alt="Millwork" class="img-responsive borde3r" />
                </a>
            </div>
            <div class="grid-item all library">
                <a class="venobox" data-gall="portfolio-gallery" href="~/img/library/lib-11.jpg" alt="Millwork">
                    <img src="~/img/library/lib-11.jpg" alt="Millwork" class="img-responsive border3" />
                </a>
            </div>
            <div class="grid-item all library">
                <a class="venobox" data-gall="portfolio-gallery" href="~/img/library/lib-12.jpg">
                    <img src="~/img/library/lib-12.jpg" alt="Millwork" class="img-responsive border3" />
                </a>
            </div>
            <div class="grid-item all library">
                <a class="venobox" data-gall="portfolio-gallery" href="~/img/library/lib-13.jpg">
                    <img src="~/img/library/lib-13.jpg" alt="Millwork" class="img-responsive border3" />
                </a>
            </div>
            <div class="grid-item all library">
                <a class="venobox" data-gall="portfolio-gallery" href="~/img/library/lib-14.jpg">
                    <img src="~/img/library/lib-14.jpg" alt="Millwork" class="img-responsive border3" />
                </a>
            </div>
            <div class="grid-item all library">
                <a class="venobox" data-gall="portfolio-gallery" href="~/img/library/lib-21.jpg">
                    <img src="~/img/library/lib-21.jpg" alt="Millwork" class="img-responsive border3" />
                </a>
            </div>
            <div class="grid-item all library millwork">
                <a class="venobox" data-gall="portfolio-gallery" href="~/img/library/lib-04.jpg">
                    <img src="~/img/library/lib-04.jpg" alt="Millwork" class="img-responsive border3" />
                </a>
            </div>
            <div class="grid-item all entertain">
                <img src="~/img/entertain/entertain-03.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all entertain">
                <img src="~/img/entertain/entertain-04.jpg" alt="Millwork" class="img-responsive border3" />
            </div>

            <div class="grid-item all stair">
                <a class="venobox" data-gall="portfolio-gallery" href="~/img/stair/stair-40.jpg">
                    <img src="~/img/stair/stair-40.jpg" alt="Millwork" class="img-responsive border3" />
                </a>
            </div>
            <div class="grid-item all stair">
                <a class="venobox" data-gall="portfolio-gallery" href="~/img/stair/stair-41.jpg">
                    <img src="~/img/stair/stair-41.jpg" alt="Millwork" class="img-responsive border3" />
                </a>
            </div>
            <div class="grid-item all bath">
                <a class="venobox" data-gall="portfolio-gallery" href="~/img/bath/cab-26.jpg">
                    <img src="~/img/bath/cab-26.jpg" alt="Millwork" class="img-responsive border3" />
</a>
            </div>
            <div class="grid-item all bath">
                <a class="venobox" data-gall="portfolio-gallery" href="~/img/bath/cab-27.jpg">
                    <img src="~/img/bath/cab-27.jpg" alt="Millwork" class="img-responsive border3" />
</a>
            </div>


            <div class="grid-item all bath">
                <img src="~/img/bath/cab-08.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all bath">
                <img src="~/img/bath/cab-07.jpg" alt="Millwork" class="img-responsive border3" />
            </div>

          
            <div class="grid-item all entertain">
                <img src="~/img/entertain/cab-23.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all bath">
                <img src="~/img/bath/cab-18.jpg" alt="Millwork" class="img-responsive border3" />
            </div>

            <div class="grid-item all library">
                <a class="venobox" data-gall="portfolio-gallery" href="~/img/library/lib-31.jpg">
                    <img src="~/img/library/lib-31.jpg" alt="Millwork" class="img-responsive border3" />
                </a>
            </div>
            <div class="grid-item all stair">
                <img src="~/img/stair/stair-103.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all stair">
                <img src="~/img/stair/stair-101.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all stair">
                <img src="~/img/stair/stair-160.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all stair">
                <img src="/img/stair/stair-162.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all stair">
                <img src="/img/stair/stair-163.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all stair">
                <img src="~/img/stair/stair-102.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all stair">
                <img src="/img/stair/stair-130.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all fireplace">
                <img src="/img/fireplace/fireplace-01.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all fireplace">
                <img src="/img/fireplace/fireplace-02.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all fireplace">
                <img src="/img/fireplace/fireplace-03.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all fireplace kitchen">
                <a class="venobox" data-gall="portfolio-gallery" href="/img/fireplace/fireplace-04.jpg">
                    <img src="/img/fireplace/fireplace-04.jpg" alt="Millwork" class="img-responsive border3" />
                </a>
            </div>
            <div class="grid-item all fireplace">
                <img src="/img/fireplace/fireplace-05.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all entertain">
                <img src="~/img/entertain/entertain-02.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all entertain">
                <img src="~/img/entertain/entertain-01.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all stair">
                <img src="~/img/stair/stair-80.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all stair">
                <img src="/img/stair/stair-90.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all stair">
                <img src="~/img/stair/stair-110.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all stair">
                <img src="~/img/stair/stair-115.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all entertain">
                <img src="~/img/entertain/cab-28.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all entertain">
                <img src="~/img/entertain/cab-11.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all entertain">
                <img src="~/img/entertain/cab-06.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all stair">
                <img src="~/img/stair/stair-32.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all stair">
            </div>
            <div class="grid-item all stair">
                <img src="~/img/stair/stair-60.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
           
            <div class="grid-item all stair">
                <img src="~/img/stair/stair-01.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all stair">
                <img src="~/img/stair/stair-02.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all stair">
                <img src="/img/stair/stair-03.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all stair">
                <img src="/img/stair/stair-04.jpg" alt="Millwork" class="img-responsive border3" />
            </div>

            <div class="grid-item all stair">
                <img src="~/img/stair/stair-05.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all stair">
                <img src="~/img/stair/stair-06.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all stair">
                <img src="/img/stair/stair-07.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all stair">
                <img src="/img/stair/stair-08.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all stair">
                <img src="~/img/stair/stair-70.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all stair">
                <img src="~/img/stair/stair-140.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all stair">
                <img src="~/img/stair/stair-150.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all stair">
                <img src="~/img/stair/stair-120.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all stair">
                <img src="~/img/stair/stair-161.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all stair">
                <img src="~/img/stair/stair-100.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all entertain">
                <img src="~/img/entertain/cab-01.jpg" alt="Entertainment" class="img-responsive border3" />
            </div>

            <div class="grid-item all entertain">
                <img src="~/img/entertain/cab-04.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all bath">
                <img src="~/img/bath/cab-05.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all bath">
                <img src="~/img/bath/cab-09.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all entertain">
                <img src="~/img/entertain/cab-10.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all entertain">
                <img src="~/img/entertain/cab-12.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all entertain">
                <img src="~/img/entertain/cab-16.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all bath">
                <img src="~/img/bath/cab-17.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all entertain">
                <img src="~/img/entertain/cab-19.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all bath">
                <img src="~/img/bath/cab-20.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all entertain">
                <img src="~/img/entertain/cab-21.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all bath">
                <img src="~/img/bath/cab-22.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all bath">
                <img src="~/img/bath/cab-24.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all bath">
                <img src="~/img/bath/cab-25.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all stair">
                <img src="~/img/stair/stair-120.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all stair">
                <img src="~/img/stair/stair-161.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all entertain">
                <img src="~/img/entertain/furniture-01.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all entertain">
                <img src="~/img/entertain/furniture-02.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all entertain">
                <img src="~/img/entertain/furniture-03.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all entertain">
                <img src="~/img/entertain/furniture-04.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all entertain">
                <img src="~/img/entertain/furniture-05.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all entertain">
                <img src="~/img/entertain/furniture-07.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all door">
                <img src="~/img/door/door-04.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all door">
                <img src="~/img/door/door-05.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all door">
                <img src="~/img/door/door-15.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all door">
                <img src="~/img/door/door-10.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all door">
                <img src="~/img/door/door-01.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all door">
                <img src="~/img/door/door-02.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all door">
                <img src="~/img/door/door-08.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all door">
                <img src="~/img/door/door-07.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all door">
                <img src="~/img/door/door-03.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all door">
                <img src="~/img/door/door-06.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all door">
                <img src="~/img/door/door-09.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all door">
                <img src="~/img/door/door-11.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all door">
                <img src="~/img/door/door-12.jpg" alt="Millwork" class="img-responsive border3" />
            </div>

            <div class="grid-item all door entertain">
                <img src="~/img/door/door-14.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all door">
                <img src="~/img/door/door-16.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all entertain">
                <img src="~/img/entertain/entertain-05.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all entertain">
                <img src="~/img/entertain/entertain-06.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all entertain">
                <img src="~/img/entertain/entertain-07.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all entertain">
                <img src="~/img/entertain/entertain-08.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all entertain">
                <img src="~/img/entertain/entertain-09.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all entertain">
                <img src="~/img/entertain/entertain-10.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all entertain">
                <img src="~/img/entertain/entertain-11.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all entertain">
                <img src="~/img/entertain/entertain-12.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all entertain">
                <img src="~/img/entertain/entertain-13.jpg" alt="Millwork" class="img-responsive border3" />
            </div>
            <div class="grid-item all entertain">
                <img src="~/img/entertain/entertain-14.jpg" alt="Millwork" class="img-responsive border3" />
            </div>




        </div>
    </div>
</section>