@{
    ViewBag.Title = "Portfolio";
}

<h2 class="title">Portfolio</h2>
<section id="works" class="page-section">
    <div class="mixed-grid">
        <div class="filter-menu">
            <ul class="nav black works-filters text-center" id="filters">
                <li class="filter active" data-filter=".all">Portfolio</li>
                <li class="filter" data-filter=".kitchen">Kitchens</li>
                <li class="filter" data-filter=".stair">Staircases</li>
                <li class="filter" data-filter=".library">Libraries</li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="masonry-grid grid-col-4" data-gutter="0">
            <div class="grid-sizer"></div>

            <div class="grid-item all kitchen">
                <img src="~/img/slider/r5.jpg" alt="kitchen" class="img-responsive" />
                <div class="img-overlay"></div>
                <div class="figcaption">
                    <div class="caption-block">
                        <h4>Kitchen</h4>
                        <p>millwork, cabinets</p>
                    </div>
                </div>
            </div>
            <div class="grid-item all kitchen">
                <img src="~/img/slider/r5.jpg" alt="Recent Work" class="img-responsive" />
                <div class="img-overlay"></div>
                <div class="figcaption">
                    <div class="caption-block">
                        <h4>Kitchen</h4>
                        <p>counter, millwork </p>
                    </div>  
                </div>
            </div>
            <div class="grid-item all library millwork">
                <div id="carousel-example-generic1" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic1" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic1" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic1" data-slide-to="2"></li>
                    </ol> 
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="~/img/slider/r5.jpg" alt="Millwork" class="img-responsive" />
                            <div class="img-overlay"></div>
                            <div class="figcaption">
                                <div class="caption-block">
                                    <h4>Library</h4>
                                    <p>book shelves</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/img/slider/r5.jpg" alt="Millwork" class="img-responsive" />
                            <div class="img-overlay"></div>
                            <div class="figcaption">
                                <div class="caption-block">
                                    <h4>Library</h4>
                                    <p>Molding</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/img/slider/r5.jpg" alt="Millwork" class="img-responsive" />
                            <div class="img-overlay"></div>
                            <div class="figcaption">
                                <div class="caption-block">
                                    <h4>Library</h4>
                                    <p>panels</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item all library">
                <img src="~/img/slider/r5.jpg" alt="Millwork" class="img-responsive" />
                <div class="img-overlay"></div>
                <div class="figcaption">
                    <div class="caption-block">
                        <h4>Library</h4>
                        <p>book shelf</p>
                    </div>
                </div>
            </div>
            <div class="grid-item all stair">
                <img src="~/img/slider/r5.jpg" alt="Millwork" class="img-responsive" />
                <div class="img-overlay"></div>
                <div class="figcaption">
                    <div class="caption-block">
                        <h4>neat</h4>
                        <p>staircase balistard</p>
                    </div>
                    <!-- Image Popup-->
                    <a href="~/img/slider/r5.jpg" data-rel="prettyPhoto[portfolio]">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="portfolio-single.html">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
            <div class="grid-item all stair library">
                <img src="~/img/slider/r5.jpg" alt="Recent Work" class="img-responsive" />
                <div class="img-overlay"></div>
                <div class="figcaption">
                    <div class="caption-block">
                        <h4>nice</h4>
                        <p>staircase</p>
                    </div>
                </div>
            </div>
           
            
        </div>
    </div>
       
</section>