@{
    ViewBag.Title = "Portfolio";
}

<section id="work" class="page-section">

        <div class="mixed-grid pad">
            <div id="works-nav">
                <div class="">
                    <div class="filter-menu">
                        <ul class="nav black works-filters text-center clearfix">
                            <li class="filter active" data-filter=".all">Portfolio</li>
                            <li class="filter" data-filter=".library">Libraries</li>
                            <li class="filter" data-filter=".kitchen">Kitchens</li>
                            <li class="filter" data-filter=".bath">Bathrooms</li>
                            <li class="filter" data-filter=".entertain">Millwork</li>
                            <li class="filter" data-filter=".door">Doors</li>
                            <li class="filter" data-filter=".fireplace">Fireplaces</li>
                            <li class="filter" data-filter=".stair">Staircases</li>
                        </ul>
                    </div>
                </div>
            </div>
          <div class="clearfix"></div>

            <div class="masonry-grid grid-col-4" data-gutter="10">
                <div class="grid-sizer"></div>

                <div class="grid-item all kitchen">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/kitchen/Kitchen-View-3.jpg">
                        <img src="~/img/kitchen/Kitchen-View-3.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all kitchen">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/kitchen/Kitchen-View-1.jpg">
                        <img src="~/img/kitchen/Kitchen-View-1.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all kitchen">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/kitchen/Refrigerator.jpg">
                        <img src="~/img/kitchen/Refrigerator.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all kitchen">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/kitchen/Kitchen-Sink-2.jpg">
                        <img src="~/img/kitchen/Kitchen-Sink-2.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all kitchen">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/kitchen/cab-13.jpg">
                        <img src="~/img/kitchen/cab-13.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all door kitchen">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/door/door-13.jpg">
                        <img src="~/img/door/door-13.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all kitchen">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/kitchen/modernKitchen.jpg">
                        <img src="~/img/kitchen/modernKitchen.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all kitchen">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/kitchen/table-01.jpg">
                        <img src="~/img/kitchen/table-01.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all bath">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/bath/cab-26.jpg">
                        <img src="~/img/bath/cab-26.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all bath">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/bath/cab-27.jpg">
                        <img src="~/img/bath/cab-27.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all bath">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/bath/cab-08.jpg">
                        <img src="~/img/bath/cab-08.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all bath">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/bath/cab-07.jpg">
                        <img src="~/img/bath/cab-07.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all bath">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/bath/cab-05.jpg">
                        <img src="~/img/bath/cab-05.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all bath">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/bath/cab-09.jpg">
                        <img src="~/img/bath/cab-09.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all bath">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/designer/design-1710.jpg">
                        <img src="~/img/designer/design-1710.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all bath">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/bath/cab-18.jpg">
                        <img src="~/img/bath/cab-18.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all bath">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/bath/cab-22.jpg">
                        <img src="~/img/bath/cab-22.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all bath">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/bath/cab-24.jpg">
                        <img src="~/img/bath/cab-24.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all entertain">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/bath/cab-25.jpg">
                        <img src="~/img/bath/cab-25.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all bath">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/bath/cab-20.jpg">
                        <img src="~/img/bath/cab-20.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all bath">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/bath/cab-17.jpg">
                        <img src="~/img/bath/cab-17.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all bath">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/designer/design-53.jpg">
                        <img src="~/img/designer/design-53.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all library">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/library/lib-01.jpg">
                        <img src="~/img/library/lib-01.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all library">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/library/lib-02.jpg">
                        <img src="~/img/library/lib-02.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all library">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/library/lib-03.jpg">
                        <img src="~/img/library/lib-03.jpg" alt="Millwork" class="img-responsive borde3r" />
                    </a>
                </div>
                <div class="grid-item all library">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/library/lib-11.jpg" alt="Millwork">
                        <img src="~/img/library/lib-11.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all library">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/library/lib-12.jpg">
                        <img src="~/img/library/lib-12.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all library">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/library/lib-13.jpg">
                        <img src="~/img/library/lib-13.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all library">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/library/lib-14.jpg">
                        <img src="~/img/library/lib-14.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all library">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/library/lib-21.jpg">
                        <img src="~/img/library/lib-21.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all library">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/library/lib-31.jpg">
                        <img src="~/img/library/lib-31.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all entertain">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/entertain/entertain-24.jpg">
                        <img src="~/img/entertain/entertain-24.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all entertain">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/entertain/entertain-04.jpg">
                        <img src="~/img/entertain/entertain-04.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all entertain">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/entertain/entertain-03.jpg">
                        <img src="~/img/entertain/entertain-03.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all entertain">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/entertain/entertain-06.jpg">
                        <img src="~/img/entertain/entertain-06.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div><div class="grid-item all entertain">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/entertain/entertain-21.jpg">
                        <img src="~/img/entertain/entertain-21.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all entertain">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/entertain/entertain-09.jpg">
                        <img src="~/img/entertain/entertain-09.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all entertain">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/entertain/entertain-08.jpg">
                        <img src="~/img/entertain/entertain-08.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>

                <div class="grid-item all entertain">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/entertain/entertain-07.jpg">
                        <img src="~/img/entertain/entertain-07.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all entertain">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/entertain/entertain-10.jpg">
                        <img src="~/img/entertain/entertain-10.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all entertain">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/entertain/entertain-16.jpg">
                        <img src="~/img/entertain/entertain-16.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all entertain">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/entertain/entertain-17.jpg">
                        <img src="~/img/entertain/entertain-17.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all entertain">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/entertain/entertain-18.jpg">
                        <img src="~/img/entertain/entertain-18.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all entertain">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/entertain/entertain-19.jpg">
                        <img src="~/img/entertain/entertain-19.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all entertain">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/entertain/entertain-12.jpg">
                        <img src="~/img/entertain/entertain-12.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all entertain">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/entertain/entertain-22.jpg">
                        <img src="~/img/entertain/entertain-22.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all entertain">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/entertain/entertain-05.jpg">
                        <img src="~/img/entertain/entertain-05.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all entertain">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/entertain/basement-03.jpg">
                        <img src="~/img/entertain/basement-03.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all entertain">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/entertain/basement-06.jpg">
                        <img src="~/img/entertain/basement-06.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all entertain">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/entertain/basement-08.jpg">
                        <img src="~/img/entertain/basement-08.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all entertain">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/entertain/basement-09.jpg">
                        <img src="~/img/entertain/basement-09.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>

                <div class="grid-item all entertain">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/entertain/basement-11.jpg">
                        <img src="~/img/entertain/basement-11.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all entertain">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/entertain/basement-15.jpg">
                        <img src="~/img/entertain/basement-15.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all entertain">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/entertain/basement-17.jpg">
                        <img src="~/img/entertain/basement-17.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all entertain">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/entertain/basement-18.jpg">
                        <img src="~/img/entertain/basement-18.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all entertain">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/entertain/cab-03.jpg">
                        <img src="~/img/entertain/cab-03.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all entertain">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/entertain/cab-06.jpg">
                        <img src="~/img/entertain/cab-06.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all entertain">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/entertain/cab-11.jpg">
                        <img src="~/img/entertain/cab-11.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all entertain">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/entertain/cab-12.jpg">
                        <img src="~/img/entertain/cab-12.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all entertain">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/entertain/cab-16.jpg">
                        <img src="~/img/entertain/cab-16.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all entertain">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/entertain/cab-21.jpg">
                        <img src="~/img/entertain/cab-21.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all entertain">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/entertain/cab-23.jpg">
                        <img src="~/img/entertain/cab-23.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all entertain">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/entertain/furniture-05.jpg">
                        <img src="~/img/entertain/furniture-05.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
               
                <div class="grid-item all entertain">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/entertain/entertain-23.jpg">
                        <img src="~/img/entertain/entertain-23.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all door">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/door/door-16.jpg">
                        <img src="~/img/door/door-16.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all door">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/door/door-04.jpg">
                        <img src="~/img/door/door-04.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all door">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/door/door-05.jpg">
                        <img src="~/img/door/door-05.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all door">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/door/door-08.jpg">
                        <img src="~/img/door/door-08.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all door">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/door/door-07.jpg">
                        <img src="~/img/door/door-07.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>

                <div class="grid-item all door">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/door/door-10.jpg">
                        <img src="~/img/door/door-10.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all door">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/door/door-01.jpg">
                        <img src="~/img/door/door-01.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all door">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/door/door-02.jpg">
                        <img src="~/img/door/door-02.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all door">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/door/door-06.jpg">
                        <img src="~/img/door/door-06.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all door">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/door/door-03.jpg">
                        <img src="~/img/door/door-03.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all door">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/door/door-18.jpg">
                        <img src="~/img/door/door-18.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all door">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/door/door-23.jpg">
                        <img src="~/img/door/door-23.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all door">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/door/door-09.jpg">
                        <img src="~/img/door/door-09.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all door">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/door/door-19.jpg">
                        <img src="~/img/door/door-19.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all door">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/door/door-20.jpg">
                        <img src="~/img/door/door-20.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all door">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/door/door-21.jpg">
                        <img src="~/img/door/door-21.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all door">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/door/door-22.jpg">
                        <img src="~/img/door/door-22.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all door">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/door/door-11.jpg">
                        <img src="~/img/door/door-11.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all door">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/door/door-12.jpg">
                        <img src="~/img/door/door-12.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>

                <div class="grid-item all door entertain">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/door/door-14.jpg">
                        <img src="~/img/door/door-14.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all fireplace">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/fireplace/fireplace-02.jpg">
                        <img src="/img/fireplace/fireplace-02.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all fireplace">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/fireplace/fireplace-03.jpg">
                        <img src="/img/fireplace/fireplace-03.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all fireplace kitchen">
                    <a class="venobox" data-gall="portfolio-gallery" href="/img/fireplace/fireplace-04.jpg">
                        <img src="/img/fireplace/fireplace-04.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all fireplace">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/fireplace/fireplace-05.jpg">
                        <img src="/img/fireplace/fireplace-05.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all stair">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/stair/stair-40.jpg">
                        <img src="~/img/stair/stair-40.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all stair">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/stair/stair-41.jpg">
                        <img src="~/img/stair/stair-41.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div><div class="grid-item all stair">
    <a class="venobox" data-gall="portfolio-gallery" href="~/img/stair/stair-115.jpg">
        <img src="~/img/stair/stair-115.jpg" alt="Millwork" class="img-responsive border3" />
    </a>
</div>
                <div class="grid-item all stair">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/stair/stair-103.jpg">
                        <img src="~/img/stair/stair-103.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all stair">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/stair/stair-101.jpg">
                        <img src="~/img/stair/stair-101.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all stair">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/stair/stair-160.jpg">
                        <img src="~/img/stair/stair-160.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all stair">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/stair/stair-162.jpg">
                        <img src="/img/stair/stair-162.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all stair">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/stair/stair-163.jpg">
                        <img src="/img/stair/stair-163.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all stair">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/stair/stair-102.jpg">
                        <img src="~/img/stair/stair-102.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div> <div class="grid-item all stair">
    <a class="venobox" data-gall="portfolio-gallery" href="~/img/stair/stair-110.jpg">
        <img src="~/img/stair/stair-110.jpg" alt="Millwork" class="img-responsive border3" />
    </a>
</div>              
               
                <div class="grid-item all stair">
    <a class="venobox" data-gall="portfolio-gallery" href="~/img/stair/stair-70.jpg">
        <img src="~/img/stair/stair-70.jpg" alt="Millwork" class="img-responsive border3" />
    </a>
</div>
                <div class="grid-item all stair">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/stair/stair-80.jpg">
                        <img src="~/img/stair/stair-80.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>    
                <div class="grid-item all stair">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/stair/stair-60.jpg">
                        <img src="~/img/stair/stair-60.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                
                <div class="grid-item all stair">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/stair/stair-32.jpg">
                        <img src="~/img/stair/stair-32.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
               
                <div class="grid-item all stair">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/stair/stair-90.jpg">
                        <img src="/img/stair/stair-90.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all stair">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/stair/stair-140.jpg">
                        <img src="~/img/stair/stair-140.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all stair">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/stair/stair-150.jpg">
                        <img src="~/img/stair/stair-150.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all stair">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/stair/stair-120.jpg">
                        <img src="~/img/stair/stair-120.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all stair">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/stair/stair-164.jpg">
                        <img src="~/img/stair/stair-164.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
                <div class="grid-item all stair">
                    <a class="venobox" data-gall="portfolio-gallery" href="~/img/stair/stair-100.jpg">
                        <img src="~/img/stair/stair-100.jpg" alt="Millwork" class="img-responsive border3" />
                    </a>
                </div>
            </div>
        </div>

</section>