@{
    ViewBag.Title = "Portfolio";
}


<section id="works" class="page-section">
 
    <div class="mixed-grid">
        <div class="filter-menu">
            <ul class="nav black works-filters text-center" id="filters">
                <li class="filter active" data-filter=".all">Portfolio.all</li>
                <li class="filter" data-filter=".kitchen">Kitchens</li>
                <li class="filter" data-filter=".stair">Staircases</li>
                <li class="filter" data-filter=".library">Libraries</li>
            </ul>
        </div>
        <div class="clearfix"></div>

        <div class="masonry-grid grid-col-4" data-gutter="0">
            <div class="grid-sizer"></div>

            <div class="grid-item all kitchen">
                <img src="~/img/kitchen/DSC_0004.jpg" alt="kitchen" class="img-responsive" />
                <div class="img-overlay"></div>
                <div class="figcaption">
                    <div class="caption-block">
                        <h4>Kitchen</h4>
                        <p>millwork, cabinets</p>
                    </div>
                </div>
            </div>
            
            <div class="grid-item all library millwork">
                <div id="carousel-1" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-1" data-slide-to="1"></li>
                        <li data-target="#carousel-1" data-slide-to="2"></li>                        
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="~/img/library/lib-01.jpg" alt="Millwork" class="img-responsive" />
                            <div class="img-overlay"></div>
                            <div class="figcaption">
                                <div class="caption-block">
                                    <h4>Library</h4>
                                    <p>wood panels</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/img/library/lib-02.jpg" alt="Millwork" class="img-responsive" />
                            <div class="img-overlay"></div>
                            <div class="figcaption">
                                <div class="caption-block">
                                    <h4>Library</h4>
                                    <p>wood panels</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/img/library/lib-03.jpg" alt="Millwork" class="img-responsive" />
                            <div class="img-overlay"></div>
                            <div class="figcaption">
                                <div class="caption-block">
                                    <h4>Library</h4>
                                    <p>wood panels</p>
                                </div>
                            </div>
                        </div>                      
                    </div>
                </div>
            </div>
            <div class="grid-item all library millwork">
                <img src="~/img/library/lib-21.jpg" alt="Millwork" class="img-responsive" />
                <div class="img-overlay"></div>
                <div class="figcaption">
                    <div class="caption-block">
                        <h4>Library</h4>
                        <p>wood panels</p>
                    </div>  
                </div>
            </div>
            <div class="grid-item all library millwork">
                <img src="~/img/library/lib-04.jpg" alt="Millwork" class="img-responsive" />
                <div class="img-overlay"></div>
                <div class="figcaption">
                    <div class="caption-block">
                        <h4>Library</h4>
                        <p>wood panels</p>
                    </div>
                </div>
            </div>
            <div class="grid-item all kitchen millwork">
                <div id="carousel-2" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-2" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-2" data-slide-to="1"></li>
                        <li data-target="#carousel-2" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="~/img/kitchen/Kitchen-Sink-2.jpg" alt="Millwork" class="img-responsive" />
                            <div class="img-overlay"></div>
                            <div class="figcaption">
                                <div class="caption-block">
                                    <h4>Kitchen</h4>
                                    <p>Island sink</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/img/kitchen/Kitchen-View-3.jpg" alt="Millwork" class="img-responsive" />
                            <div class="img-overlay"></div>
                            <div class="figcaption">
                                <div class="caption-block">
                                    <h4>Kitchen</h4>
                                    <p>Island view</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/img/kitchen/Refrigerator.jpg" alt="Millwork" class="img-responsive" />
                            <div class="img-overlay"></div>
                            <div class="figcaption">
                                <div class="caption-block">
                                    <h4>Refrigerator</h4>
                                    <p>wood panel</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item all kitchen millwork">
                <img src="~/img/kitchen/Kitchen-View-1.jpg" alt="Millwork" class="img-responsive" />
                <div class="img-overlay"></div>
                <div class="figcaption">
                    <div class="caption-block">
                        <h4>Kitchen</h4>
                        <p>Millwork</p>
                    </div>
                </div>
            </div>
            <div class="grid-item all kitchen millwork">
                <img src="~/img/kitchen/DSC_0019.jpg" alt="Millwork" class="img-responsive" />
                <div class="img-overlay"></div>
                <div class="figcaption">
                    <div class="caption-block">
                        <h4>Kitchen</h4>
                        <p>Millwork</p>
                    </div>
                </div>
            </div>
            <div class="grid-item all library millwork">
                <div id="carousel-4" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-4" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-4" data-slide-to="1"></li>
                        <li data-target="#carousel-4" data-slide-to="2"></li>
                        <li data-target="#carousel-4" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="~/img/library/lib-11.jpg" alt="Millwork" class="img-responsive" />
                            <div class="img-overlay"></div>
                            <div class="figcaption">
                                <div class="caption-block">
                                    <h4>Library</h4>
                                    <p>book shelves</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/img/library/lib-12.jpg" alt="Millwork" class="img-responsive" />
                            <div class="img-overlay"></div>
                            <div class="figcaption">
                                <div class="caption-block">
                                    <h4>Library</h4>
                                    <p>Molding</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/img/library/lib-13.jpg" alt="Millwork" class="img-responsive" />
                            <div class="img-overlay"></div>
                            <div class="figcaption">
                                <div class="caption-block">
                                    <h4>Library</h4>
                                    <p>panels</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/img/library/lib-14.jpg" alt="Millwork" class="img-responsive" />
                            <div class="img-overlay"></div>
                            <div class="figcaption">
                                <div class="caption-block">
                                    <h4>Library</h4>
                                    <p>panels</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item all library millwork">
                <img src="~/img/library/lib-31.jpg" alt="Millwork" class="img-responsive" />
                <div class="img-overlay"></div>
                <div class="figcaption">
                    <div class="caption-block">
                        <h4>Library</h4>
                        <p>shelving</p>
                    </div>
                </div>
            </div>
            
            <!-- STAIRS-->

            <div class="grid-item all stair">
                <div id="carousel-5" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-5" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-5" data-slide-to="1"></li>
                        <li data-target="#carousel-5" data-slide-to="2"></li>
                        <li data-target="#carousel-5" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="~/img/stair/stair-102.jpg" alt="Millwork" class="img-responsive" />
                            <div class="img-overlay"></div>
                            <div class="figcaption">
                                <div class="caption-block">
                                    <h4>Staircase</h4>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/img/stair/stair-101.jpg" alt="Millwork" class="img-responsive" />
                            <div class="img-overlay"></div>
                            <div class="figcaption">
                                <div class="caption-block">
                                    <h4>Staircase</h4>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/img/stair/stair-103.jpg" alt="Millwork" class="img-responsive" />
                            <div class="img-overlay"></div>
                            <div class="figcaption">
                                <div class="caption-block">
                                    <h4>Staircase</h4>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/img/stair/stair-100.jpg" alt="Millwork" class="img-responsive" />
                            <div class="img-overlay"></div>
                            <div class="figcaption">
                                <div class="caption-block">
                                    <h4>Staircase</h4>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item all stair">
                <img src="~/img/stair/stair-80.jpg" alt="Millwork" class="img-responsive" />
                <div class="img-overlay"></div>
                <div class="figcaption">
                    <div class="caption-block">
                        <h4>Staircase</h4>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="grid-item all stair">
                <div id="carousel-6" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-6" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-6" data-slide-to="1"></li>
                        <li data-target="#carousel-6" data-slide-to="2"></li>
                        <li data-target="#carousel-6" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="~/img/stair/stair-161.jpg" alt="Millwork" class="img-responsive" />
                            <div class="img-overlay"></div>
                            <div class="figcaption">
                                <div class="caption-block">
                                    <h4>Staircase</h4>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/img/stair/stair-160.jpg" alt="Millwork" class="img-responsive" />
                            <div class="img-overlay"></div>
                            <div class="figcaption">
                                <div class="caption-block">
                                    <h4>Staircase</h4>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/img/stair/stair-162.jpg" alt="Millwork" class="img-responsive" />
                            <div class="img-overlay"></div>
                            <div class="figcaption">
                                <div class="caption-block">
                                    <h4>Staircase</h4>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/img/stair/stair-163.jpg" alt="Millwork" class="img-responsive" />
                            <div class="img-overlay"></div>
                            <div class="figcaption">
                                <div class="caption-block">
                                    <h4>Staircase</h4>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item all stair">
                <img src="/img/stair/stair-90.jpg" alt="Millwork" class="img-responsive" />
                <div class="img-overlay"></div>
                <div class="figcaption">
                    <div class="caption-block">
                        <h4>Staircase</h4>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="grid-item all stair">
                <div id="carousel-7" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-7" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-7" data-slide-to="1"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="~/img/stair/stair-40.jpg" alt="Millwork" class="img-responsive" />
                            <div class="img-overlay"></div>
                            <div class="figcaption">
                                <div class="caption-block">
                                    <h4>Staircase</h4>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/img/stair/stair-41.jpg" alt="Millwork" class="img-responsive" />
                            <div class="img-overlay"></div>
                            <div class="figcaption">
                                <div class="caption-block">
                                    <h4>Staircase</h4>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item all stair">
                <img src="~/img/stair/stair-41.jpg" alt="Millwork" class="img-responsive" />
                <div class="img-overlay"></div>
                <div class="figcaption">
                    <div class="caption-block">
                        <h4>Staircase</h4>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="grid-item all stair">
                <div id="carousel-10" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-10" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-10" data-slide-to="1"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="~/img/stair/stair-32.jpg" alt="Millwork" class="img-responsive" />
                            <div class="img-overlay"></div>
                            <div class="figcaption">
                                <div class="caption-block">
                                    <h4>Staircase</h4>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/img/stair/stair-31.jpg" alt="Millwork" class="img-responsive" />
                            <div class="img-overlay"></div>
                            <div class="figcaption">
                                <div class="caption-block">
                                    <h4>Staircase</h4>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item all stair">
                <img src="~/img/stair/stair-60.jpg" alt="Millwork" class="img-responsive" />
                <div class="img-overlay"></div>
                <div class="figcaption">
                    <div class="caption-block">
                        <h4>Staircase</h4>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="grid-item all stair">
                <div id="carousel-11" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-11" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-11" data-slide-to="1"></li>
                        <li data-target="#carousel-11" data-slide-to="2"></li>
                        <li data-target="#carousel-11" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="~/img/stair/stair-01.jpg" alt="Millwork" class="img-responsive" />
                            <div class="img-overlay"></div>
                            <div class="figcaption">
                                <div class="caption-block">
                                    <h4>Staircase</h4>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/img/stair/stair-02.jpg" alt="Millwork" class="img-responsive" />
                            <div class="img-overlay"></div>
                            <div class="figcaption">
                                <div class="caption-block">
                                    <h4>Staircase</h4>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/img/stair/stair-03.jpg" alt="Millwork" class="img-responsive" />
                            <div class="img-overlay"></div>
                            <div class="figcaption">
                                <div class="caption-block">
                                    <h4>Staircase</h4>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/img/stair/stair-04.jpg" alt="Millwork" class="img-responsive" />
                            <div class="img-overlay"></div>
                            <div class="figcaption">
                                <div class="caption-block">
                                    <h4>Staircase</h4>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item all stair">
                <div id="carousel-12" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-12" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-12" data-slide-to="1"></li>
                        <li data-target="#carousel-12" data-slide-to="2"></li>
                        <li data-target="#carousel-12" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="~/img/stair/stair-05.jpg" alt="Millwork" class="img-responsive" />
                            <div class="img-overlay"></div>
                            <div class="figcaption">
                                <div class="caption-block">
                                    <h4>Staircase</h4>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/img/stair/stair-06.jpg" alt="Millwork" class="img-responsive" />
                            <div class="img-overlay"></div>
                            <div class="figcaption">
                                <div class="caption-block">
                                    <h4>Staircase</h4>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/img/stair/stair-07.jpg" alt="Millwork" class="img-responsive" />
                            <div class="img-overlay"></div>
                            <div class="figcaption">
                                <div class="caption-block">
                                    <h4>Staircase</h4>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/img/stair/stair-08.jpg" alt="Millwork" class="img-responsive" />
                            <div class="img-overlay"></div>
                            <div class="figcaption">
                                <div class="caption-block">
                                    <h4>Staircase</h4>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item all stair">
                <div id="carousel-9" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-9" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-9" data-slide-to="1"></li>
                        <li data-target="#carousel-9" data-slide-to="2"></li>
                        <li data-target="#carousel-9" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="~/img/stair/stair-161.jpg" alt="Millwork" class="img-responsive" />
                            <div class="img-overlay"></div>
                            <div class="figcaption">
                                <div class="caption-block">
                                    <h4>Staircase</h4>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/img/stair/stair-160.jpg" alt="Millwork" class="img-responsive" />
                            <div class="img-overlay"></div>
                            <div class="figcaption">
                                <div class="caption-block">
                                    <h4>Staircase</h4>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/img/stair/stair-162.jpg" alt="Millwork" class="img-responsive" />
                            <div class="img-overlay"></div>
                            <div class="figcaption">
                                <div class="caption-block">
                                    <h4>Staircase</h4>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/img/stair/stair-163.jpg" alt="Millwork" class="img-responsive" />
                            <div class="img-overlay"></div>
                            <div class="figcaption">
                                <div class="caption-block">
                                    <h4>Staircase</h4>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item all stair">
                <img src="~/img/stair/stair-70.jpg" alt="Millwork" class="img-responsive" />
                <div class="img-overlay"></div>
                <div class="figcaption">
                    <div class="caption-block">
                        <h4>Staircase</h4>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="grid-item all stair">
                <img src="~/img/stair/stair-110.jpg" alt="Millwork" class="img-responsive" />
                <div class="img-overlay"></div>
                <div class="figcaption">
                    <div class="caption-block">
                        <h4>Staircase</h4>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="grid-item all stair">
                <div id="carousel-8" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-8" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-8" data-slide-to="1"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="~/img/stair/stair-140.jpg" alt="Millwork" class="img-responsive" />
                            <div class="img-overlay"></div>
                            <div class="figcaption">
                                <div class="caption-block">
                                    <h4>Staircase</h4>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/img/stair/stair-150.jpg" alt="Millwork" class="img-responsive" />
                            <div class="img-overlay"></div>
                            <div class="figcaption">
                                <div class="caption-block">
                                    <h4>Staircase</h4>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item all stair">
                <img src="~/img/stair/stair-120.jpg" alt="Millwork" class="img-responsive" />
                <div class="img-overlay"></div>
                <div class="figcaption">
                    <div class="caption-block">
                        <h4>Staircase</h4>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="grid-item all stair">
                            <img src="~/img/stair/stair-130.jpg" alt="Millwork" class="img-responsive" />
                            <div class="img-overlay"></div>
                            <div class="figcaption">
                                <div class="caption-block">
                                    <h4>Staircase</h4>
                                    <p></p>
                                </div>
                            </div>
                        </div>




                        <!--example-->
                        <div class="grid-item all stair">
                            <img src="~/img/library/lib-21.jpg" alt="Millwork" class="img-responsive" />
                            <div class="img-overlay"></div>
                            <div class="figcaption">
                                <div class="caption-block">
                                    <h4>Library</h4>
                                    <p>shelving</p>
                                </div>
                            </div>
                        </div>


                    </div>
    </div>
       
</section>