@{
    ViewBag.Title = "Services";
}

<section id="features" class="page-section">
    <div class="container">
        <div class="row text-center black">
            <div class="col-sm-12 col-md-12">
                <div class="section-title black" style="">
                    <h2 class="title">Services</h2>
                     </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" data-animation="fadeInLeft">
                <ul class="features-list features-list-left">
                    <li class="features-list-item">
                        <i>  </i>
                        <div class="features-content">                          
                            <h5>Designing / CAD Drafting</h5>
                          </div>
                    </li>
                    <li class="features-list-item">
                        <i>  </i>
                     <div class="features-content">
                         <h5>Custom Millwork</h5>
                        </div>
                    </li>
                    <li class="features-list-item">
                        <i> </i>
                        <div class="features-content">
                            <h5>Cabinetry</h5>
                        </div>
                    </li>
                    <li class="features-list-item">
                        <i>  </i>
                        <div class="features-content">
                            <h5>Engineering</h5>
                        </div>
                    </li>
                    <li class="features-list-item">
                        <i>  </i>
                        <div class="features-content">
                            <h5>Paneling / Wainscoting</h5>
                        </div>
                    </li>
                    <li class="features-list-item">
                        <i>  </i>
                        <div class="features-content">
                            <h5>Construction Management</h5>
                        </div>
                    </li>
                    <li class="features-list-item">
                        <i>  </i>
                        <div class="features-content">
                            <h5>Entry Doors</h5>
                        </div>
                    </li>
                    <li class="features-list-item">
                        <i> </i>
                        <div class="features-content">
                            <h5>Creative Solutions</h5>
                        </div>
                    </li>
                    <li class="features-list-item">
                        <i>  </i>
                        <div class="features-content">
                            <h5>Casework</h5>
                        </div>
                    </li>
                  
                </ul>
            </div>
            <div class="slider col-md-4 text-center" data-animation="fadeInUp">
                <div id="services-slider bottom-pad-20">
                    <div id="services-photos" class="carousel slide carousel-fade" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img class="boxshadow" src="~/img/stair/stair-40.jpg" alt="stair" width="350" height="480" />
                            </div>
                            <div class="item">
                                <img class="boxshadow" src="~/img/designer/design-01.jpg" alt="stair" width="350" height="480" />
                            </div>
                            <div class="item">
                                <img class="boxshadow" src="~/img/kitchen/Refrigerator.jpg" alt="kitchen" width="350" height="480" />
                            </div>
                            <div class="item">
                                <img class="boxshadow" src="~/img/library/lib-11.jpg" alt="library" width="350" height="480" />
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="col-md-4" data-animation="fadeInRight">
                <ul class="features-list features-list-left tb-pad-70">
                    <li class="features-list-item">                      
                        <i> </i>
                        <div class="features-content">
                            <h5>General Contracting</h5>
                        </div>
                    </li>
                    <li class="features-list-item">
                        <i> </i>
                        <div class="features-content">
                            <h5>Custom Iron Work</h5>
                        </div>
                    </li>
                    <li class="features-list-item">
                        <i> </i>
                        <div class="features-content">
                            <h5>Staircases / Railings</h5>
                        </div>
                    </li>
                    <li class="features-list-item">
                        <i> </i>
                        <div class="features-content">
                            <h5>Installations</h5>
                        </div>
                    </li>
                    <li class="features-list-item">
                        <i>  </i>
                        <div class="features-content">
                            <h5>Custom Glass Work</h5>
                        </div>
                    </li>
                    <li class="features-list-item">
                        <i>  </i>
                        <div class="features-content">
                            <h5>Profile Trim</h5>
                        </div>
                    </li>
                    <li class="features-list-item">
                        <i>  </i>
                        <div class="features-content">
                            <h5>Custom Finishing</h5>
                        </div>
                    </li>
                    <li class="features-list-item">
                        <i>  </i>
                        <div class="features-content">
                            <h5>Custom Trusses</h5>
                        </div>
                    </li>
                    <li class="features-list-item">
                        <i></i>
                        <div class="features-content">
                            <h5>Custom Structural Beams</h5>
                        </div>
                    </li>
                 </ul>
            </div>
       </div>
    </div>
</section>



