@{
    ViewBag.Title = "Architectural Millwork";
}
<h2>@ViewBag.Title.</h2>


<section id="process" class="page-section">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12 col-md-12">
                <div class="section-title">
                    <h2 class="title">Architectural Millwork</h2>
                    <h4 class="sub-title">Design Services. Installation. Finishing</h4>
                </div>
            </div>
            <div class="col-sm-4 col-md-3">
                <div class="work-process-box">
                    <div class="process-content">
                        <div class="item-number">1</div>
                        <h4 class="title">Moulding</h4>
                        <p>Base. Casing. Crown.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3">
                <div class="work-process-box">
                    <div class="process-content">
                        <div class="item-number">2</div>
                        <h4 class="title">Build Ups</h4>
                        <p>Beams. Crown.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3">
                <div class="work-process-box">
                    <div class="process-content">
                        <div class="item-number">3</div>
                        <h4 class="title">Millwork</h4>
                        <p>Wainscot. Paneled Openings.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3">
                <div class="work-process-box">
                    <div class="process-content">
                        <div class="item-number">4</div>
                        <h4 class="title">Custom</h4>
                         <p>Radius Mou.lding Railings</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
